<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/payments.css">
    <title>Payments</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">
    </div>
    <div class="main">
        <div class="column-one">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt veritatis facilis accusamus, error placeat quo doloremque dolorem ullam eos, incidunt omnis esse odit commodi nostrum, velit nobis quasi provident ratione?
            Obcaecati, molestias? Esse beatae atque doloribus quos molestias ab, ad magni sunt distinctio excepturi, nostrum illo suscipit incidunt, facere quaerat commodi. Vitae voluptatem temporibus rem sequi! Impedit est pariatur nostrum?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt veritatis facilis accusamus, error placeat quo doloremque dolorem ullam eos, incidunt omnis esse odit commodi nostrum, velit nobis quasi provident ratione?
            Obcaecati, molestias? Esse beatae atque doloribus quos molestias ab, ad magni sunt distinctio excepturi, nostrum illo suscipit incidunt, facere quaerat commodi. Vitae voluptatem temporibus rem sequi! Impedit est pariatur nostrum?</p>
            <img src="/src/public/customer_service/payments/payments-types.png" class="payments-types">
            ´<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, quia ab! Porro repudiandae dolores sed exercitationem, omnis libero recusandae assumenda eius fugit beatae rerum deserunt amet quod totam quis vero?</p>
            <div class="payments">
                <img src="/src/public/customer_service/payments/skrill.png" class="payments-icon" id="skrill">
                <img src="/src/public/customer_service/payments/paypal.png" class="payments-icon" id="paypal">
                <img src="/src/public/customer_service/payments/neteller.png" class="payments-icon">
                <img src="/src/public/customer_service/payments/pse.png" class="payments-icon">
                <img src="/src/public/customer_service/payments/mercado-pago.png" class="payments-icon">

            </div>
        </div>

        <div class="column-two">
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae nostrum cum earum aspernatur nemo fugit doloribus eveniet atque repudiandae voluptates impedit distinctio magni expedita sed, corporis laborum ut quis. Similique!
            Magnam, explicabo doloribus deleniti blanditiis voluptates consectetur commodi labore a vel. Debitis ea sunt natus voluptate, recusandae facilis tenetur commodi rerum nobis delectus atque corporis, magni cum ut officiis saepe!</p>
            
            <div class="contact">
                <p>charlottelanguagecente@page.com</p>
                <p>(503) 503 50-03</p>
                <p>01 8000 4578 2546</p>
            </div>

            <div class="row_one-text_two">
                <h2>Lorem Ipsum</h2>
                <div class="row_one-selects">
                    <select class="input-select">
                        <option selected disabled="">todo todito las cosas on muy bonitas para la vida</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option class="jk">FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                </div>
            </div>
        
        </div>

    </div>
</body>
</html>