<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/payments.css">
    <title>Payments</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">
    </div>
    <div class="main">
        <div class="column-one">
            <p>
                At Charlotte Languages Center, we use a variety of online platforms to deliver our language courses and support our students' language learning goals. Our online platform is user-friendly and intuitive, allowing students to easily access their course materials, track their progress, and communicate with their instructors and fellow students. We also use a range of online tools and resources, such as virtual whiteboards, multimedia materials, and interactive exercises, to enhance our students' learning experience and make language learning more engaging and enjoyable. 
            </p>
            <img src="/src/public/customer_service/payments/payments-types.png" class="payments-types">
            ´<p>Additionally, we offer online language exchange programs, where students can connect with native speakers of the language they are studying and practice their language skills in a real-world context. 
            </p>
            <div class="payments">
                <img src="/src/public/customer_service/payments/skrill.png" class="payments-icon" id="skrill">
                <img src="/src/public/customer_service/payments/paypal.png" class="payments-icon" id="paypal">
                <img src="/src/public/customer_service/payments/neteller.png" class="payments-icon">
                <img src="/src/public/customer_service/payments/pse.png" class="payments-icon">
                <img src="/src/public/customer_service/payments/mercado-pago.png" class="payments-icon">

            </div>
        </div>

        <div class="column-two">
            <p class="text">Our online platforms are designed to provide a seamless and effective learning experience, and we continuously update and improve them to meet the evolving needs of our students. Whether you're taking online group classes or private lessons, our online platforms will provide you with the resources and support you need to achieve your language learning goals.</p>
            
            <div class="contact">
                <p>socialnetworks@charlottelanguagescenter.com</p>
                <p>(+1) 980-274-1445</p>
                <p>01 8000 4578 2546</p>
            </div>

            <div class="row_one-text_two">
                <h2>Lorem Ipsum</h2>
                <div class="row_one-selects">
                    <select class="input-select">
                        <option selected disabled="">todo todito las cosas on muy bonitas para la vida</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option class="jk">FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                </div>
            </div>
        
        </div>

    </div>
</body>
</html>