<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/platform.css">
    <title>Platform</title>
</head>

<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">

    </div>
    <div class="main">
        <div class="row_one">
            <div class="row_one-text_one">
                <h2>Lorem Ipsum</h2>
                <p>
                    Charlotte Languages Center is a leading language school located in the heart of Charlotte, North Carolina. Founded in 2023, the center offers a wide range of language courses to individuals, businesses, and organizations looking to improve their language skills.

                </p>
                <p>
                    At Charlotte Languages Center, you can learn and improve your languages skills. The courses are taught by experienced, native-speaking instructors who use innovative teaching methods to help students learn quickly and effectively.
                </p>
            </div>
        

        </div>
        <div class="row_two">
            <div class="row_one-text_one">
                <h2>Lorem Ipsum</h2>
                <p>
                    Whether you're a beginner or an advanced learner, Charlotte Languages Center has a course that's right for you. The center offers group classes, private lessons, and online courses to fit your schedule and learning style. Classes are available for adults and children, and the center also offers specialized courses for businesses and organizations.
                </p>
                <p>
                    Charlotte Languages Center is committed to providing high-quality language education and excellent customer service. The center has a friendly and welcoming atmosphere, and students are encouraged to ask questions and participate actively in their classes.If you're looking to learn a new language or improve your existing language skills, Charlotte Languages Center is the perfect place to start.
                </p>
            </div>
            
        </div>
    </div>
</body>
</html>