<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/support.css">
    <title>Support</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">        
    </div>

    <div class="main">
        <p class="text-one">
            At Charlotte Languages Center, we understand the importance of having reliable and efficient technical support for our students. That's why we have a dedicated technical support team that is available to assist students with any technical issues they may encounter during their online classes or while using our online resources. 
        </p>
        <p class="text-one">
            Our technical support team is highly skilled and experienced, and they are available via phone, email, or live chat to provide assistance with everything from troubleshooting technical issues to helping students navigate our online platform. We strive to provide prompt and effective technical support to ensure that our students can focus on their language learning goals without any distractions or interruptions. With our comprehensive technical support services, students can feel confident that they will have the support they need to succeed in their language classes at Charlotte Languages Center.
        </p>
    
        <div class="section__input-select">
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
        </div>
        <div class="cont__btn-support">
            <button class="btn-support">Instan support</button>
            <i class="fas fa-headphones headphones"></i>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>
</html>