<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/homepage/page.css">
    <title>Document</title>
</head>

<body>
    <section id="modal-container-news">
        <div class="modal-news modal-cl">
            <div class="close-news"><i class="fas fa-times-circle poi"></i></div>
            <div class="cont-p-news">
            </div>

    </section>

    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
    <script src="/src/js/homepage/homepage.js"></script>
</body>

</html>