@use "mixingfunc";
@use "media-queries";
/* ----------------------Section Form---------------------------- */
.cont-new-certificate {
  width: 63%;
  height: 590px;
  left: 25%;
  top: 17%;
  margin-right: 20px;
  position: absolute;
  background: #fff;
  border-radius: 20px;

  @include media-queries.tablet {
    width: 65%;
    left: 26%;
    height: 630px;
  }
  @include media-queries.tablett {
    width: 77%;
    left: 12%;
    height: 630px;
    top: 120px;
  }
  @include media-queries.big-phone {
    width: 85%;
    left: 7.5%;
    height: 560px;
    background-color: #ffb3cb;
    top: 90px;
  }
  @include media-queries.phoness {
    width: 90%;
    left: 5%;
    height: 85%;
    top: 80px;
    background-color: #c2d1ff;
  }

  .title-certificate {
    box-sizing: border-box;
    padding-left: 19px;
    padding-right: 10px;
    position: absolute;
    width: 93.6%;
    height: 30px;
    left: 29px;
    top: 55px;
    color: #000;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;

  }

  .file-certificate {
    display: flex;
    box-sizing: border-box;
    padding-left: 19px;
    position: absolute;
    @include mixingfunc.measures(1194px, 51px, 29px, 197px);
    color: #000;
    border: 1px solid #8f8f8f;
    border-radius: 10px;
    font-size: 25px;
    padding-top: 10px;
    padding-right: 80px;
  }
  .file-certificate-btn {
    position: absolute;
    margin-top: 0px;
    margin-left: 1110px;
    font-size: 32px;
    color: #000;
  }

  .file-certificate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(97, 97, 97);
  }

  #fileCertificate {
    display: none;
  }
}
.open-form-certificate {
  transform: translateY(-200%);
}

.address-certificate {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(590px, 51px, 29px, 131px);
  @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, justify);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  padding-left: 19px;
  color: #000000;
}

.web-certificate {
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(590px, 51px, 632px, 131px);
  @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, justify);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  padding-left: 19px;
  color: #000000;
}

#create-certificate {
  position: absolute;
  width: 170px;
  height: 35px;
  right: 3%;
  top: 585px;
  background: #338af3;
  border-radius: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  transition: all 0.4s ease;
  outline: none;
  border: 0;

  @include media-queries.tablet {
    top: 580px;
    font-size: 17px;
    width: 155px;
  }

  @include media-queries.big-phone {
    max-width: 130px;
    font-size: 15px;
    top: 520px;
    height: 30px;
  }
  @include media-queries.phoness {
    max-width: 125px;
    font-size: 14px;
    top: 500px;
    height: 30px;
  }

  color: #fff;
  &:hover {
    background: rgb(140, 168, 250);
  }
}


.cancel-certificate {
  position: absolute;
  width: 120px;
  height: 35px;
  left: 25px;
  top: 585px;
  background: white;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  border-radius: 20px;
  border: 0.5px solid rgb(150, 148, 148);
  transition: all 0.4s ease;

  @include media-queries.tablet {
    width: 100px;
    top: 580px;
  }

  @include media-queries.big-phone {
    font-size: 15px;
    width: 100px;
    top: 520px;
    height: 30px;
    left: 17px;
  }
  @include media-queries.phoness {
    width: 90px;
    font-size: 14px;
    top: 500px;
    height: 30px;
    left: 10px;
  }

  &:hover {
    background: rgb(238, 238, 238);
  }
}
.font-title-certificate {
  position: absolute;
  height: 39px;
  left: 28px;
  top: 11px;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
}

.font-title-certificate {
  position: absolute;
  @include mixingfunc.measures(400px, 39px, 30px, 11px);
  @include mixingfunc.font-style(Arial, normal, 600, 28px, 130%, center);
}

/*----------------------------- Section Table---------------------- */

.cont-certificate2 {
  margin: 142px 45px 288px 424px;
  width: 1251px;
  height: 594px;
  background: #8eaaff;
  border-radius: 20px;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.25);

  .cont-certificate_blue2 {
    margin-top: 48px;
    overflow-y: auto;
    width: 1251px;
    height: 546px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
  }

  .certificate2 {
    width: 1251px;
    height: 546px;
    background: #fff;
    border-collapse: collapse;
    margin-bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  
    th {
      @include mixingfunc.font-style(arial, normal, 600, 30px, 130%, center);
      font-family: Arial;
      border: solid 1px black;
      height: 60px;
      border-top: none
    }
    td {
      @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      padding-right: 17px;
      max-height: 39px;
      max-width: 600px;
      text-align: justify;
      border-bottom: none;
    }
  }
}

.input-search-certific {
  position: absolute;
  padding-left: 20px;
  padding-right: 55px;
  color: rgb(255, 255, 255);
  font-size: 25px;
  height: 46px;
  width: 1244px;
  margin: 3px 3px 3px 3px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #8eaaff;
  border: 0;
  outline: none;
}

.up-certificate2 {
  transform: translateY(-200%);
}

.cont-tables-certificate {
  margin: 142px 45px 288px 424px;
  width: 1251px;
  height: 594px;
  background: #8eaaff;
  border-radius: 20px;
  position: absolute;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.25);

  .cont-table-certificate_blue {
    overflow-y: auto;
    width: 1251px;
    height: 529px;
    border-radius: 18px;
  }

  .table-certificate {
    width: 1251px;
    height: 529px;
    background: #ffffff;
    border-radius: 20px;
    border-collapse: collapse;
    th {
      @include mixingfunc.font-style(arial, normal, 600, 30px, 130%, center);
      font-family: Arial;
      border: solid 1px black;
      height: 60px;
      border-top: none
    }
    td {
      @include mixingfunc.font-style(Arial, normal, 400, 25px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      padding-right: 17px;

      max-height: 39px;
      max-width: 600px;
      text-align: justify;
      border-bottom: none;
    }
  }
}
.up-table-certificate {
  transform: translateY(-200%);
}

.btn-certificate {
  display: flex;
  justify-content: center;
  align-items: center;
  @include mixingfunc.measures(400px, 48px, 840px, 539px);
  @include mixingfunc.font-style(Arial, normal, 550, 25px, 130%, center);
  background: #338af3;
  border-radius: 20px;
  position: absolute;
  color: #ffffff;
  transition: all 0.5s ease;
  padding-top: 5px;
  border: 0.5px solid #1a63f5;

  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.4s ease;
  }
  color: #ffffff;
  text-decoration: none;
}

/*------------------Section Modal-----------*/

#modal-container-certificate {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-certificate {
  position: relative;
  width: 1609px;
  height: 945px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);

  .close-certificate {
    position: absolute;
    left: 1560px;
    right: 1.72%;
    top: 10px;
    bottom: 93.65%;
    color: #000;
    z-index: 1000;
    i {
      font-size: 30px;
    }
  }

  .cont-p-certificate {
    position: absolute;
    width: 920px;
    max-height: 785px;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: auto;
    padding: 20px 40px 20px 20px;
  }
}
.modal-clos {
  transform: translateY(-400%);
}

/*-------------Modal delete --------------------------*/

/*modal-container*/


/*----------------buttons admin------------------*/
.icons-certificate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  i {
    width: 35px;
    height: 43px;
    padding-top: 3px;
    transition: all 0.3s ease;
  }

  .edit-certificate {
    font-size: 30px;
    color: #ff9811;
    &:hover {
      color: #6e7f8f;
    }
  }
  .remove-certificate {
    font-size: 30px;
    color: red;
    &:hover {
      color: #6e7f8f;
    }
  }

  .read-certificate {
    font-size: 30px;
    color: #0057ff;
    &:hover {
      color: #6e7f8f;
    }
  }
}

.btn-certificates-badges {
  position: absolute;
  background-color: #ffffff;
  color: #000;
  @include mixingfunc.measures(286px, 47px, 420px, 53px);
  display: flex;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 550;
  cursor: pointer;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
}

.btn-search {
  position: absolute;
  display: flex;
  @include mixingfunc.measures(264px, 47px, 754px, 53px);
  border-radius: 20px;
  background-color: #8eaaff;
  color: #fff;
  font-size: 25px;
  font-weight: 550;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.06);
  cursor: pointer;

}
.lupa {
  position: absolute;
  color: #fff;
  font-size: 33px;
  margin-left: 1200px;

  cursor: pointer;
  padding-top: 6px;
  ::placeholder {
    color: rgb(255, 255, 255);
  }
}
.cert-title {
  font-weight: 550;
  font-size: 27px;
}

.style-btn-badges {
  background-color: #8eaaff; 
  color: #fff;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.06);
}
.style-badges2 {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: none;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
}

.filtro{
  display: none;
}

.sear{
  transform: translateY(-300%);
}