@use "media-queries";
@use "mixingfunc";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  background-image: radial-gradient(
    circle at 36.11% 58.02%,
    #c6deff 0,
    #5b8ee1 50%,
    #0047a7 100%
  );
 min-height: 100vh;
  

/*   position: relative; */
}

.center{
  text-align: center;
}

.no-activities {
  background-color: rgba(230, 230, 230, 0.65);
  @include mixingfunc.font-style(Cambria, normal, 550, 45px, 130%, center);
  width: 850px;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 0px 50px;
  border-radius: 20px;
}

.no-description{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(230, 230, 230, 0.65);
  width: 830px;
  height: 600px;
  text-align: center;
  font-size: 70px;
  font-weight: 600px;
  margin-left: 20px;
  margin-top: 55px;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}





/*-------------Modal delete --------------------------*/


/*modal-container*/
#modal-container-dr {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dr {
  box-sizing: border-box;
  @include mixingfunc.measures(55%, 250px, 25%, 381px);
  bottom: 338px;
  background: rgba(255, 255, 255, 0.65);
  border: 3px solid #0057ff;
  box-shadow: 0px 4px 6px 3px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1s;
  transform: translateY(0%);
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: 15px;
  /*modal resource*/

  h3 {
    @include mixingfunc.font-style(Arial, normal, 600, 25px, 130%, center);
    color: #000000;
    text-align: center;

  }
}
#text-dr {
  box-sizing: border-box;
  
  @include mixingfunc.measures(90%, 129px, 45px, 82px);
  @include mixingfunc.font-style(Arial, normal, 300, 18px, 130%, center);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  resize: none;
  color: #000000;
  padding-left: 18px;
  padding-top: 12px;
  margin: auto;
  background: rgba(226, 226, 226, 0.65);
  outline: none;
  text-align: left;
}

.buttons_delete{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 90%;
  margin: auto

}
.bnt-dr {

  @include mixingfunc.measures(147px, 32px, 692px, 245px);
  @include mixingfunc.font-style(Arial, normal, 600, 22px, 130%, center);
  background: #d80027;
  border-radius: 20px;
  border: 0;
  color: #ffffff;
  margin-bottom: 10px;
  transition: all .3s ease;
  &:hover{
    background: #ee1039;
    transform: scale(1.02)

  }
}

.btn-dr2 {
  @include mixingfunc.measures(94px, 32px, 45px, 245px);
  @include mixingfunc.font-style(Arial, normal, 600, 22px, 130%, center);
  color: #000000;
  border: 0;
  outline: none;
  background: rgba(226, 226, 226, 0.65);
  margin-bottom: 10px;
  transition: all .1s ease;
  &:hover{
    transform: scale(1.05)

  }
}
.modal-close-dr {
  transform: translateY(-200%);
  /*modal close*/
}
