@use "mixingfunc";
@use "media-queries";
/* ----------------------Section Form---------------------------- */
.cont-new-member {
  width: 63%;
  height: 600px;
  left: 25%;
  top: 110px;
  margin-right: 20px;
  position: absolute;
  background: #fff;
  border-radius: 20px;

  @include media-queries.tablet {
    width: 65%;
    left: 26%;
  ;
  }
  @include media-queries.tablett {
    width: 77%;
    left: 12%;
   
    top: 120px;
  }
  @include media-queries.big-phone {
    width: 85%;
    left: 7.5%;
    height: 560px;
    top: 90px;
  }
  @include media-queries.phoness {
    width: 90%;
    left: 5%;
    height: 85%;
    top: 80px;
  }

  .title-member {
   box-sizing: border-box;
  padding-left: 19px;
  padding-right: 10px;
  position: absolute;
  width: 93.3%;
  height: 30px;
  left: 29px;
  top: 55px;
  color: #000;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;

  @include media-queries.tablet {
    left: 22px;
  }
  @include media-queries.tablett {
    /* top: 88px;
    height: 30px;
    font-size: .9rem; */
    left: 22px;
    font-size: 0.9rem;
    height: 31px;
  }
  @include media-queries.big-phone {
    top: 47px;
    height: 28px;
    font-size: 0.8rem;
    left: 17px;
    padding-left: 10px;
    padding-right: 5px;
  }
  @include media-queries.phoness {
    left: 10px;
    padding-left: 10px;
    padding-right: 5px;
    height: 27px;
    font-size: 0.8rem;
    top: 55px;
    width: 93.3%;
  }
  }
}
.open-form-member {
  transform: translateY(-200%);
}

#create-member {
  position: absolute;
  width: 190px;
  height: 35px;
  right: 3%;
  top: 545px;
  background: #338af3;
  border-radius: 20px;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  transition: all 0.4s ease;
  outline: none;
  border: 0;

  @include media-queries.tablet {
   
    font-size: 17px;
    width: 185px;
  }

  @include media-queries.big-phone {
    width: 170px;
    font-size: 15px;
    top: 520px;
    height: 30px;
  }
  @include media-queries.phoness {
    width: 150px;
    font-size: 14px;
    top: 93%;
    height: 30px;
  }

  color: #fff;
  &:hover {
    background: rgb(140, 168, 250);
  }
}



.cancel-member {
  position: absolute;
  width: 120px;
  height: 35px;
  left: 25px;
  top: 545px;
  background: white;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  border-radius: 20px;
  border: 0.5px solid rgb(150, 148, 148);
  transition: all 0.4s ease;

  @include media-queries.tablet {
    width: 100px;
   
  }

  @include media-queries.big-phone {
    font-size: 15px;
    width: 100px;
    top: 520px;
    height: 30px;
    left: 17px;
  }
  @include media-queries.phoness {
    width: 90px;
    font-size: 14px;
   top: 93%;
    height: 30px;
    left: 10px;
  }

  &:hover {
    background: rgb(238, 238, 238);
  }
}






.none-member {
  display: none;
}

.input-category-member {
  box-sizing: border-box;
  position: absolute;
  top: 97px;
  left: 29px;
  @include mixingfunc.font-style(Arial, normal, 400, 1rem, 100%, justify);
  width: 46%;
  height: 33px;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  padding-left: 19px;
  color: #000000;
  outline: none;

  @include media-queries.tablet {
    left: 22px;
  }
  @include media-queries.tablett {
    /* top: 48px;
    height: 30px;
    font-size: .9rem; */
    left: 22px;
    font-size: 0.9rem;
    height: 31px;
  }
  @include media-queries.big-phone {
    top: 82px;
    height: 28px;
    font-size: 0.8rem;
    left: 17px;
    padding-left: 10px;
    padding-right: 5px;
  }
  @include media-queries.phoness {
    left: 10px;
    padding-left: 10px;
    padding-right: 5px;
    height: 27px;
    font-size: 0.8rem;
    top: 89px;
  }
}

.font-title-member {
  position: absolute;
  height: 39px;
  left: 28px;
  top: 11px;
  font-family: Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  @include media-queries.tablet {
    font-size: 19px;
  }
  @include media-queries.tablett {
    font-size: 19px;
  }
  @include media-queries.big-phone {
    font-size: 18px;
  }
  @include media-queries.phoness {
    font-size: 17px;
    width: 100%;
    left: 0;
    text-align: center;
    height: 30px;
  }
}



.input-price-member{
  box-sizing: border-box;
  position: absolute;
  @include mixingfunc.measures(46%, 33px, 48.5%, 97px);
  @include mixingfunc.font-style(Arial, normal, 400, 1rem, 130%, justify);
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  padding-left: 19px;
  color: #000000;
  outline: none;
  margin-left: 18px;

  @include media-queries.tablet {
    left: 48%;
  }
  @include media-queries.tablett {
    /*  top: 48px;
    height: 30px;
    font-size: .9rem; */
    left: 48%;
    font-size: 0.9rem;
    height: 31px;
  }
  @include media-queries.big-phone {
    top: 82px;
    height: 28px;
    font-size: 0.8rem;
    left: 47%;
    padding-left: 10px;
    padding-right: 5px;
  }
  @include media-queries.phoness {
    left: 45%;
    padding-left: 10px;
    padding-right: 5px;
    height: 27px;
    font-size: 0.8rem;
    top: 89px;
  }
}


#area-member {
  box-sizing: border-box;
  position: absolute;
  width: 93.5%;
  left: 29px;
  top: 140px;
  border-radius: 10px;

  @include media-queries.tablet {
    left: 22px;
    top: 140px;
  }
  @include media-queries.tablett {
    left: 22px;
    top: 140px;
  }
  @include media-queries.big-phone {
    left: 17px;
    top: 120px;

  }
  @include media-queries.phoness {
    left: 10px;
    top: 125px;
    width: 90%;
  }
  .txtarea-member {
    resize: none;
    border-radius: 10px;
    max-width: 1200px;
    width: 100%;
    height: 22em;
    @include media-queries.tablet {
      height: 21.5em;
    }
    @include media-queries.tablett {
      height: 21.5em;
    }
    @include media-queries.big-phone {
      height: 21em;
    }
    @include media-queries.phoness {
      height: 18em;
    }
    @include media-queries.portrait-long {
      height: 26em;
    }
  }
}


/*----------------------------- Section Table---------------------- */

.cont-tables-member {
  margin: auto;
  margin-top: 120px;
  max-width: 1251px;
  width: 70%;
  height: 460px;
  background: #8eaaff;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.25);
  position: relative;

  @include media-queries.tablett {
    width: 85%;
  }
  @include media-queries.tablet {
    width: 75%;
  }
  @include media-queries.big-phone {
    width: 88%;
    height: 330px;
    margin-top: 80px;
  }
  @include media-queries.phoness {
    width: 90%;
    height: 340px;
    margin-top: 80px;
  }
  @include media-queries.big-vertical {
    height: 505px;
    margin-top: 100px;
  }

  .cont-table-member_blue {
    overflow-y: auto;
    width: 100%;
    max-width: 1251px;
    height: 400px;
    margin-top: 5px;

    @include media-queries.big-phone {
      height: 280px;
    }
    @include media-queries.phoness {
      height: 295px;
    }
    @include media-queries.big-vertical {
      height: 455px;
    }
  }

  .table-member {
    width: 100%;
    max-width: 100%;
    height: 400px;
    background: #ffffff;
    border-radius: 12px;
    border-collapse: collapse;

    @include media-queries.tablet {
      width: 100%;
    }
    @include media-queries.tablett {
      width: 100%;
    }
    @include media-queries.big-phone {
      width: 98.8%;
      margin-left: 6px;
      margin-top: 3px;
    }
    @include media-queries.phoness {
      width: 98.5%;
      margin-left: 4px;
    }

    @include media-queries.big-vertical {
      height: 455px;
    }

    th {
      @include mixingfunc.font-style(arial, normal, 600, 18px, 100%, center);
      font-family: Arial;
      border: solid 1px black;
      height: 40px;
      border-top: none;

      @include media-queries.tablet {
        font-size: 16px;
      }
      @include media-queries.tablett {
        font-size: 16px;
      }
    }
    td {
      @include mixingfunc.font-style(Arial, normal, 400, 17px, 130%, left);
      border: solid 1px black;
      padding-left: 17px;
      padding-right: 17px;
      white-space: nowrap;
      overflow: auto;
      height: 32px;
      max-width: 310px;
      min-width: 60px;
      text-align: justify;
      border-bottom: none;

      @include media-queries.tablet {
        font-size: 14px;
        height: 30px;
        max-width: 190px;
        min-width: 28px;
      }
      @include media-queries.tablett {
        font-size: 13px;
        height: 30px;
        max-width: 170px;
        min-width: 20px;
      }
      /*       @include media-queries.tablett {
        font-size: 12px;
        height: 24px;
        max-width: 150px;
        min-width: 15px;
        background-color: #1a63f5;
      } */
      @include media-queries.big-phone {
        display: block;
        margin: auto;
        max-width: 100%;
        height: 40px;
        font-size: 14px;
        text-align: right;
        align-items: center;
        padding-top: 12px;
        border: 1px solid #ddd;
        overflow: auto;
      }
      @include media-queries.phoness {
        display: block;
        margin: auto;
        max-width: 100%;
        height: 35px;
        font-size: 12px;
        text-align: right;
        align-items: center;
        padding-top: 12px;
        border: 1px solid #ddd;
        padding-left: 8px;
        padding-right: 8px;
        overflow: auto;
      }
    }
    td:last-child {
      @include media-queries.big-phone {
        border-bottom: 0;
      }
    }
    td:first-child {
      @include media-queries.big-phone {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: right;
      }
      @include media-queries.phoness {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        text-align: right;
      }
      text-align: center;
    }
    td::-webkit-scrollbar {
      width: 8px;
      border-radius: 20px;
      height: 3px;
    }

    td::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 20px;
    }

    td:before {
      @include media-queries.big-phone {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        margin-right: 10px;
      }
      @include media-queries.phoness {
        content: attr(data-label);
        font-weight: bold;
        float: left;
        margin-right: 10px;
      }
    }
  }
}


.up-table-member {
  transform: translateY(-200%);
}


.btn-member {
  @include mixingfunc.font-style(Arial, normal, 600, 19px, 130%, center);
  width: 230px;
  height: 35px;
  background: #338af3;
  border-radius: 15px;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-top: 10px;
  margin-left: 785px;
  border: 0.5px solid #1a63f5;
  position: absolute;
  top: 88.5%;
  right: 1%;
  text-decoration: none;

  &:hover {
    background: #fff;
    color: #000;
    transition: all 0.4s ease;
  }

  @include media-queries.tablet {
    font-size: 18px;
    width: 220px;
    height: 32px;
  }
  @include media-queries.tablett {
    font-size: 17px;
    width: 205px;
    height: 32px;
  }

  @include media-queries.big-phone {
    font-size: 15px;
    width: 185px;
    height: 28px;
    top: 86%;
    right: 1.8%;
  }
  @include media-queries.phoness {
    font-size: 14px;
    width: 165px;
    height: 27px;
    top: 87.5%;
    right: 2.5%;
  }
  @include media-queries.big-vertical {
    top: 91%;
  }
}






/*-------------Modal delete --------------------------*/

#modal-container-member {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  @include mixingfunc.measures(100%, 100%, 0, 0);
  background-color: rgba(143, 143, 143, 0.65);
}


.modal-member {
  position: relative;
  width: 60%;
  height: 500px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 1.3s;
  transform: translateY(0%);

  @include media-queries.tablet {
    width: 80%;
    height: 50%;
    margin-top: 80px;
  }
  @include media-queries.tablett {

    width: 80%;
    height: 50%;
    margin-top: 80px;
  }
  @include media-queries.big-phone {
    width: 80%;
    height: 90%;
    margin-top: 30px;
  }
  @include media-queries.phoness {
    width: 94%;
    height: 92%;
    margin-top: 15px;
  }
  @include media-queries.lands {
    height: 80%;
  }

 .close-member {
  position: absolute;
  right: 1.4%;
  top: 8px;
  color: #000;
  z-index: 1000;
  i {
    font-size: 22px;
    @include media-queries.tablett {
      font-size: 21x;
    }
    @include media-queries.big-phone {
      font-size: 20px;
    }
    @include media-queries.phoness {
      font-size: 19px;
    }
  }

 
  @include media-queries.tablet {
    right: 1.3%;
  }
  @include media-queries.tablett {
    right: 1.3%;
  }
  @include media-queries.big-phone {
    right: 1.5%;
  }
  @include media-queries.phoness {
    right: 1.7%;
  }
}
 
 .cont-p-member {
  position: absolute;
  width: 97%;
  max-height: 785px;
  top: 25px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  overflow: auto;
  padding: 20px 20px 20px 20px;
  @include media-queries.tablet {
    width: 98%;
    height: 92%;       
   }
  @include media-queries.tablett {
    width: 97%;
    height: 92%;     
   }
  @include media-queries.big-phone {
    width: 97%;
    height: 90%;     
    background-color: #ffc3f5;
    top: 20px;
   }
  @include media-queries.phoness {
    width: 97%;
    height: 92%;     
   }
}
}
.modal-clm {
 transform: translateY(-200%); 
}





/*----------------buttons admin------------------*/

.icons-member {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-queries.big-phone {
    justify-content: flex-end;
    grid-gap: 18px;
    align-items: center;
    height: 10px;
    padding-top: 7px;
  }
  @include media-queries.phoness {
    justify-content: flex-end;
    grid-gap: 18px;
    align-items: center;
    height: 10px;
    padding-top: 2px;
  }

  i {
    width: 35px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .edit-member {
    font-size: 19px;
    color: #ff9811;
    transition: all 0.4s ease;
    &:hover {
      color: #6e7f8f;
    }

    @include media-queries.tablet {
      font-size: 17px;
    }
    @include media-queries.tablett {
      font-size: 16px;
    }
    @include media-queries.big-phone {
      font-size: 18px;
    }
    @include media-queries.phoness {
      font-size: 16px;
    }
  }
  .remove-member {
    font-size: 19px;
    color: red;
    transition: all 0.4s ease;
    &:hover {
      color: #6e7f8f;
    }

    @include media-queries.tablet {
      font-size: 17px;
    }
    @include media-queries.tablett {
      font-size: 16px;
    }
    @include media-queries.big-phone {
      font-size: 18px;
    }
    @include media-queries.phoness {
      font-size: 16px;
    }
  }

  .read-member {
    font-size: 19px;
    color: #0057ff;
    transition: all 0.4s ease;
    &:hover {
      color: #6e7f8f;
    }

    @include media-queries.tablet {
      font-size: 17px;
    }
    @include media-queries.tablett {
      font-size: 16px;
    }
    @include media-queries.big-phone {
      font-size: 18px;
    }
    @include media-queries.phoness {
      font-size: 16px;
    }
  }
}

.cont-table-member_blue::-webkit-scrollbar {
  width: 7.9px;
  border-radius: 20px;
  height: 8px;
}

.cont-table-member_blue::-webkit-scrollbar-thumb {
  background: rgba(231, 230, 230, 0.7);
  border-radius: 20px;
  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}
