@use "mixingfunc";
@use "media-queries";

.menu {
  @include mixingfunc.measures(16%, 800px, 0px, 0px);
  background: #ebebeb;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  transition: transform 1s; 
  overflow: auto;
  &::after {
    content: "";
    position: absolute;
    @include mixingfunc.measures(11%, 0px, 2%, 415px);
    border: 1px solid #000000;
    @include media-queries.phoness {
      display: none; 
    }
    @include media-queries.big-phone {
      display: none;
    }
    @include media-queries.tablett {
      display: none;
    }
    @include media-queries.tablet {
     width: 12%;
    }
 
  }
  @include media-queries.tablet {
    width: 17%;    
  }
  @include media-queries.tablett {
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: .9;
    height: 100%;
    transform: translateX(-150%);
    border-radius: 0;
    

  }
  @include media-queries.big-phone {
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: .9;
    height: 100%;
    transform: translateX(-150%);
    border-radius: 0;

  }
  @include media-queries.phoness {
    width: 100%;
    position: fixed;
    z-index: 100;
    opacity: .9;
    height: 100%;
    transform: translateX(-150%);
    border-radius: 0;

  }
    
/*   @include media-queries.mobile {
    width: 190px;
    max-height: 100%;
    
  }
  @include media-queries.phone {
    width: 229px;
    max-height: 100%;
  } */


  .menu__logo {
    background: url("/src/public/logo-charlotte.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    height: 70px;
    display: flex;
    justify-content: center;
     margin: auto;
     margin-top: 5%;
   
    
    @include media-queries.tablet {
     height: 65px;
     margin-top: 6%;
  
    }
    @include media-queries.tablett {
      height: 60px;
    }
    @include media-queries.big-phone {
     height: 55px;
    }
    @include media-queries.phoness {
      height: 50px;
    }
  }

  .menu__list {
    margin-top: 60px;

    @include media-queries.tablett {
      margin-top: 50px;

    overflow: auto;
    }
    @include media-queries.big-phone {
      margin-top: 45px;
    }
    @include media-queries.phoness {
      margin-top: 35px;
    }

    li {
      width: 94%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin-bottom: 12px;
      height: 27px;
      transition: all 0.3s linear;
    
      @include media-queries.tablett {
        width: 90%;
        margin: auto;
        height: 37px;
        margin-bottom: 18px;
      }
      
      @include media-queries.big-phone {
        width: 90%;
        margin: auto;
        height: 35px;
        margin-bottom: 17px;
      }
      @include media-queries.phoness {
        width: 90%;
        margin: auto;
        height: 30px;
        margin-bottom: 13px;

      }
      
      &:hover {
        transform: scale(1.04);
        background: #8eaaff;
        border-radius: 50px 0px 0px 50px;
      
        @include media-queries.tablet {
        width: 90%;
        transform: scale(1.01);
        }
        @include media-queries.tablett {
        width: 90%;
        transform: scale(1.01);
        }
        @include media-queries.big-phone {
        width: 90%;
        transform: scale(1.01);
        }
        @include media-queries.phoness {
        width: 90%;
        transform: scale(1.01);
        }
      }

      a {
        text-decoration: none;
        @include mixingfunc.font-style(Arial, normal, 500, 1.05rem, 36px, center);
        width: 100%;
        height: 28px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
      
     
        @include media-queries.tablett{
         width: 90%;    
         font-size: 19px;
        }
        @include media-queries.big-phone{
         width: 90%;    
         font-size: 17px;
        }
        @include media-queries.phoness{
         width: 90%;    
         font-size: 15px;
        }
      }
    }
  }
}

.move-menu {
  transform: translateX(0%);

}
.space2 {
  padding-top: 12px;
  
}

.press {
  height: 46px;
  background: #8eaaff;
  border-radius: 50px 0px 0px 50px;
  text-align: center;
  /* transition: all 0.4s ease; */

}
.space-top {
  margin-top: 35px;
 
  @include media-queries.tablett{
   margin-top: 0px; 
   }
  @include media-queries.big-phone{
   margin-top: 0px; 
   }
  @include media-queries.phoness{
   margin-top: 0px; 
   }
}
