<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/homepage/homepage-user.css">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
   
    <title>Home User</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <img src="/src/public/logo-charlotte.png" class="logo">
            <ul class="navbar__menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <div class="user">
                    <i class="far fa-user-circle"></i>
                   <p>Alberto Barrera</p>
                   <i class="fas fa-chevron-down"></i>

                </div>
                <li class="notification"><i class="far fa-envelope"></i> <i class="fas fa-bell"></i></li>
                <div class="selectbox">
                    <div class="select" id="select">
                        <div class="content-select">
                            <img src="/src/public/hompage/united_states-icon.png" class="country-icon">
                        </div>
                        <i class="fas fa-angle-down down"></i>
                        <i class="fas fa-angle-up up"></i>
                    </div>
               

            <div class="options" id="options">
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/brazil-icon.png" class="country-icon" id="brasil">
                        <p class="title">PT</p>
                    </div>
                </div>
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/spain-icon.png" class="country-icon" id="spain">
                        <p class="title">ES</p>
                    </div>
                </div>
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/france-icon.png" class="country-icon" id="japan">
                        <p class="title">FR</p>
                    </div>
                </div>
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/united_states-icon.png" class="country-icon" id="eeuu">
                        <p class="title">EN</p>
                    </div>
                </div>
            </div>
                 </div>
                <input type="hidden" name="pais"id="inputSelect" value="">
            </ul>
    </div>

    <div class="slider">
        <div class="slider-slides">
            <div class="slider-slide active">
                <img class="img1">
            </div>
            <div class="slider-slide">
                <img class="img2">
            </div>
            <div class="slider-slide">
                <img class="img3">
            </div>
            <div class="slider-slide">
                <img class="img4">
            </div>
            <div class="slider-slide">
                <img class="img5">
            </div>
        </div>
<!--         <div class="slider-btns">
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
        </div> -->
    </div>


        <!-- Swiper -->
<section>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-6.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-7.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-8.jpg" />
                </div>
                <div class="swiper-slide">
                  <img src="https://swiperjs.com/demos/images/nature-9.jpg" />
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
            
</section>


    <div class="news">
        <div class="card">
            <div class="card__section">
                <h1 class="title-new">Lorem ipsum</h1>
                <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ut eum qui ipsum. Expedita officia, asperiores molestias rerum minus corrupti nemo nam mollitia impedit et quas. Placeat minima neque pariatur.</p>
            </div>
            <img src="/src/public/homepageUser/img1.png" alt="">
        </div>
        <div class="card">
            <div class="card__section">
                <h1 class="title-new">Lorem ipsum</h1>
                <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ut eum qui ipsum. Expedita officia, asperiores molestias rerum minus corrupti nemo nam mollitia impedit et quas. Placeat minima neque pariatur.</p>
            </div>
            <img src="/src/public/homepageUser/img2.png" alt="">
        </div>
        <div class="card">
            <div class="card__section">
                <h1 class="title-new">Lorem ipsum</h1>
                <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. In ut eum qui ipsum. Expedita officia, asperiores molestias rerum minus corrupti nemo nam mollitia impedit et quas. Placeat minima neque pariatur.</p>
            </div>
            <img src="/src/public/homepageUser/img3.png" alt="">
        </div>
    </div>
  
    </div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"> </script>

    <script>
        var swiper = new Swiper(".swiper-container", {
          effect: "coverflow",
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: "auto",
          coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
          },
          pagination: {
            el: ".swiper-pagination",
          },
        });
      </script>
</body>
</html>