<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/homepage/page.css">
    <title>Homepage</title>
</head>

<body>
    <div class="main">

        <div class="navbar__social-medias">
            <div class="social-medias">
                <div class="btn__social-medias">
                    <a href="https://www.linkedin.com/company/charlotte-languages-center/about/" target="_blank"
                        id="linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <div class="btn__social-medias">
                    <a href="https://www.facebook.com/profile.php?id=100089370116188" id="facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
                <div class="btn__social-medias">
                    <a href="https://twitter.com/home" id="twitter">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </div>
                <div class="btn__social-medias">
                    <a href="https://www.instagram.com/charlotte_languagescenter/" id="instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="language">
                <!--          <select>
                    <option selected disabled="">English</option>
                    <option>Spanish</option>
                    <option>Portugues</option>
                </select> -->
            </div>

        </div>
        <div class="navbar">
            <img src="/src/public/logo-charlotte.png" class="logo">
            <ul class="navbar__menu">
                <li><a href="">HOME</a></li>
                <li><a href="">MEMBERSHIP</a></li>
                <li><a href="">CUSTOMER SERVICE</a></li>
                <li><a href="/src/views/signup.html">SIGN UP</a></li>
                <li id="login"><a href=" /src/views/login.html">LOG IN</a></li>
            </ul>
        </div>
        <div class="call-action">
            <p>Lorem ipsumobcaecati quosmporibus sibusdam quam architlaudantium minima, harum vero.</p>
            <button class="btn-start">START NOW!</button>
        </div>
        <div class="slider">
            <div class="slider-slides">
                <div class="slider-slide active">
                    <img src="https://placeimg.com/600/600/animals" alt="">
                </div>
                <div class="slider-slide">
                    <img src="https://placeimg.com/600/600/nature" alt="">
                </div>
                <div class="slider-slide">
                    <img src="https://placeimg.com/600/600/people" alt="">
                </div>
                <div class="slider-slide">
                    <img src="https://placeimg.com/600/600/tech" alt="">
                </div>
            </div>
            <div class="slider-btns">
                <i class="fas fa-chevron-left prev"></i>
                <i class="fas fa-chevron-right next"></i>
            </div>
        </div>

        <div class="section-main">

        </div>
        <div class="container__subscribe">
            <h1>Just in case you missed something</h1>
            <div class="subscribe">
                <h1>Get Started Now</h1>
                <div class="getStarted">
                    <p>Susbscribe to Newsletter! </p>
                    <input type="email" class="email" placeholder="Write your email here...">
                    <i class="fas fa-envelope envelope"></i>
                </div>
            </div>

        </div>
        <div class="footer"></div>
        <section id="modal-container-news">
            <div class="modal-news modal-cl">
                <div class="close-news"><i class="fas fa-times-circle poi"></i></div>
                <div class="cont-p-news">
                </div>

        </section>
    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
    <script src="/src/js/homepage/homepage.js"></script>
</body>

</html>