<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/education.css">
    <title>Education</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">        
    </div>
    <div class="main">
        <p class="text-one">Charlotte Languages Center  offers a variety of online language courses for students who prefer to learn remotely. The online classes are taught by experienced instructors who use interactive tools and resources to engage students and create a dynamic learning environment. Students can choose from a range of online courses, including group classes, private lessons, and customized courses tailored to their specific needs and goals. The online classes are designed to be flexible and convenient, allowing students to study at their own pace and on their own schedule.</p>
        <div class="image-section">
            <div class="image">
                <img id="image-one">
            </div>
            <div class="image">
                <img  id="image-two">
            </div>
            <div class="image">
                <img id="image-three">     
            </div>
        </div>
        <p class="text-two">With the same high-quality instruction and personalized attention as in-person classes, Charlotte Languages Center's online language courses provide a convenient and effective way to learn a new language or improve existing language skills from anywhere in the world.</p>
        <div class="social-medias">
            <div class="btn__social-medias">
                <a href="https://www.linkedin.com/company/charlotte-languages-center/about/" target="_blank"
                    id="linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <div class="btn__social-medias">
                <a href="https://www.facebook.com/profile.php?id=100089370116188" target="_blank" id="facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <div class="btn__social-medias">
                <a href="https://twitter.com/home" target="_blank" id="twitter">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>
            <div class="btn__social-medias">
                <a href="https://www.instagram.com/charlotte_languagescenter/" target="_blank" id="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>
</html>