<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/education.css">
    <title>Education</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">        
    </div>
    <div class="main">
        <p class="text-one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam obcaecati optio id repellendus labore asperiores reprehenderit delectus fugiat esse, temporibus nesciunt, ea quia corrupti eos tempore veniam nisi minus?</p>
        <div class="image-section">
            <div class="image">
                <img id="image-one">
            </div>
            <div class="image">
                <img  id="image-two">
            </div>
            <div class="image">
                <img id="image-three">     
            </div>
        </div>
        <p class="text-two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam obcaecati optio id repellendus labore asperiores reprehenderit delectus fugiat esse, temporibus nesciunt, ea quia corrupti eos tempore veniam nisi minus?</p>
        <div class="social-medias">
            <div class="btn__social-medias">
                <a href="https://www.linkedin.com/company/charlotte-languages-center/about/" target="_blank"
                    id="linkedin">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
            <div class="btn__social-medias">
                <a href="https://www.facebook.com/profile.php?id=100089370116188" target="_blank" id="facebook">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <div class="btn__social-medias">
                <a href="https://twitter.com/home" target="_blank" id="twitter">
                    <i class="fab fa-twitter-square"></i>
                </a>
            </div>
            <div class="btn__social-medias">
                <a href="https://www.instagram.com/charlotte_languagescenter/" target="_blank" id="instagram">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>
</html>