<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/main.css">
    <title>Customer Service</title>
</head>

<body>
    <div class="lds-ring loader" id="loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="banner">
        <div class="items">
            <img src="/src/public/logo-charlotte.png" class="charlotte-logo">
            <button class="btn-report">Report a problem</button>
        </div>
        <div class="section-email">
            <p> How can we help you?</p>
            <div class="cont__input-email">
                <input type="email" class="input-email" placeholder="Start your search here..">
                <i class="fas fa-search search"></i>

            </div>
        </div>
    </div>

    <div class="main">
        <p class="text-one"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel suscipit nam illo provident
            consequatur deserunt iusto doloribus porro quo eum quia commodi dolore, perferendis debitis cupiditate eaque
            quas incidunt culpa?</p>

        <div class="image-section">
            <div class="image" id="education">
                <img class="education">
                <p class="text-image">EDUCATION</p>
               
            </div>
            <div class="image" id="support">
                <img class="support">
                <p class="text-image">SUPPORT</p>
            </div>
            <div class="image" id="platform">
                <img class="plataform">
                <p class="text-image">PLATAFORM</p>
            </div>
            <div class="image" id="payments">
                <img class="payments">
                <p class="text-image">PAYMENTS</p>
            </div>
            <div class="image" id="human-talent">
                <img class="human-talent">
                <p class="text-image">HUMAN TALENT</p>
            </div>
        </div>

        <div class="text-two">
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non dolorum repudiandae,
                minima
                illo rem eos, enim
                suscipit rerum aspernatur ea beatae, eum corporis veniam in odio nihil sit. Facere, rerum!</p>
            <div class="cont__btn-support">
                <button class="btn-support">Instan support</button>
                <i class="fas fa-headphones headphones"></i>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
    <script src="/src/js/customer_service/main.js"></script>
</body>

</html>