<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/platform.css">
    <title>Platform</title>
</head>

<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">

    </div>
    <div class="main">
        <div class="row_one">
            <div class="row_one-text_one">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime maiores voluptates rem beatae
                    officiis accusamus ea sed molestiae dolore, laboriosam neque quaerat reiciendis ratione labore quia
                    optio. Commodi, quasi!
                    Provident blanditiis sed porro incidunt modi totam consectetur repudiandae, saepe soluta eum,
                    temporibus, eaque quas eveniet nulla impedit quos? Ut iure pariatur veritatis molestiae et maiores
                    veniam placeat nihil architecto.
                </p>
            </div>
            <div class="row_one-text_two">
                <h2>Lorem Ipsum</h2>
                <div class="row_one-selects">
                    <select class="input-select">
                        <option selected disabled="">todo todito las cosas on muy bonitas para la vida</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option class="jk">FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row_two">
            <div class="row_one-text_one">
                <h2>Lorem Ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae maxime maiores voluptates rem beatae
                    officiis accusamus ea sed molestiae dolore, laboriosam neque quaerat reiciendis ratione labore quia
                    optio. Commodi, quasi!
                    Provident blanditiis sed porro incidunt modi totam consectetur repudiandae, saepe soluta eum,
                    temporibus, eaque quas eveniet nulla impedit quos? Ut iure pariatur veritatis molestiae et maiores
                    veniam placeat nihil architecto.
                </p>
            </div>
            <div class="row_one-text_two">
                <h2>Lorem Ipsum</h2>
                <div class="row_one-selects">
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                    <select class="input-select">
                        <option selected disabled="">Category</option>
                        <option>FREE</option>
                        <option>BASIC</option>
                        <option>PRO</option>
                        <option>PRO +</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</body>
</html>