<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/support.css">
    <title>Support</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">        
    </div>

    <div class="main">
        <p class="text-one">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, consectetur! Id reiciendis eius natus consequuntur perferendis expedita aspernatur itaque fugit nesciunt tempore adipisci dignissimos, commodi necessitatibus nemo architecto aperiam qui.</p>
    
        <div class="section__input-select">
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
            <select class="input-category" name="categoryNews">
                <option selected disabled="">Category</option>
                <option>Noticia 1</option>
                <option>Noticia 2</option>
                <option>Noticia 3</option>
            </select>
        </div>
        <div class="cont__btn-support">
            <button class="btn-support">Instan support</button>
            <i class="fas fa-headphones headphones"></i>
        </div>

    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>
</html>