<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/customer_service/TA.css">
    <title>TA</title>
</head>
<body>
    <div class="banner">
        <img src="/src/public/logo-charlotte.png" class="charlotte-logo">        
    </div>
    <div class="container">
        <div class="main">
            <div class="section-one">
                <div class="card" id="card-one">
                    <img src="/src/public/customer_service/TA/photo1.png" class="img" id="img-one">
                    <h1 class="title">Mrs. Kathe Jhonson</h1>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque necessitatibus.</p>
                    <p class="rol">BlueStack Developer</p>
                </div>
                <div class="card" id="card-two">
                    <img src="/src/public/customer_service/TA/photo2.png" class="img" id="img-two">
                    <h1 class="title">Mrs. Sofia Gills</h1>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque necessitatibus.</p>
                    <p class="rol">BlueStack Developer</p>
    
                </div>
                
            </div>
            <div class="section-two">
                <div class="card" id="card-one">
                    <img src="/src/public/customer_service/TA/photo3.png" class="img" id="img-three">
                    <h1 class="title">Mr. Mike Williams</h1>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque necessitatibus.</p>
                    <p class="rol">BlueStack Developer</p>
                    
                </div>
                <div class="card" id="card-two">
                    <img src="/src/public/customer_service/TA/photo4.png" class="img" id="img-four">
                    <h1 class="title">Mrs. Stella Owen</h1>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque necessitatibus.</p>
                    <p class="rol">BlueStack Developer</p>
    
                </div>
    
            </div>
        </div>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia qui adipisci sunt debitis quasi illum facilis a quaerat assumenda possimus quos omnis numquam, sed veniam asperiores vel dolores consequatur! Expedita!</p>

    </div>
</body>
</html>