@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap");
/* @mixin min {
  @media all and (min-width: 100px) and (max-width: 280px){
    @content;
  }
} */
/* @mixin menu {
  @media  screen and (min-width: 1000px) and (max-width: 1225px) {
    @content;
  }
} */
/* @mixin menus {
    @media screen and (orientation:portrait){
    @content;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.head {
  background: url("/src/public/homepage_basic/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .head {
    height: 280px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .head {
    height: 260px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .head {
    height: 230px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .head {
    height: 200px;
  }
}

.logo-charlotte {
  width: 100%;
  max-width: 270px;
  max-height: 114px;
  margin-top: 61px;
  margin: auto;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .logo-charlotte {
    max-width: 240px;
    max-height: 100px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .logo-charlotte {
    max-width: 200px;
    max-height: 85px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .logo-charlotte {
    max-width: 180px;
    max-height: 80px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .logo-charlotte {
    max-width: 160px;
    max-height: 70px;
  }
}

.container_Countdown {
  background: #D80027;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 55px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  z-index: 998;
  top: 0px;
  transition: all 0.4s ease;
  padding-bottom: 2.5px;
  background: rgba(242, 190, 66, 0.65);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .navbar {
    height: 55px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .navbar {
    height: 50px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .navbar {
    height: 47px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .navbar {
    height: 42px;
  }
}

.navbar__menu {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .navbar__menu {
    width: 40%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .navbar__menu {
    width: 40%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .navbar__menu {
    width: 50%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .navbar__menu {
    width: 50%;
  }
}
.navbar__menu li {
  list-style: none;
  transition: all 0.4s ease;
}
.navbar__menu li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  transition: all 0.4s ease;
}
.navbar__menu li:hover {
  transform: scale(1.08);
}
.navbar__menu .user {
  width: 100%;
  max-width: 80px;
  height: 35px;
  background: #4457b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding-left: 2px;
  padding-right: 2px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .navbar__menu .user {
    height: 33px;
    max-width: 68px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .navbar__menu .user {
    height: 31px;
    max-width: 65px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .navbar__menu .user {
    height: 29px;
    max-width: 62px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .navbar__menu .user {
    height: 27px;
    max-width: 50px;
  }
}
.navbar__menu .user:hover {
  background: #4f66da;
}

.icon_user {
  font-size: 28px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .icon_user {
    font-size: 25px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .icon_user {
    font-size: 24px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .icon_user {
    font-size: 22px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .icon_user {
    font-size: 19px;
  }
}

.fa-chevron-down {
  margin-right: 4px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .fa-chevron-down {
    font-size: 15px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .fa-chevron-down {
    font-size: 14px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .fa-chevron-down {
    font-size: 13px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .fa-chevron-down {
    font-size: 12px;
  }
}

.fa-chevron-up {
  margin-right: 4px;
  font-size: 16px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .fa-chevron-up {
    font-size: 15px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .fa-chevron-up {
    font-size: 14px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .fa-chevron-up {
    font-size: 13px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .fa-chevron-up {
    font-size: 12px;
  }
}

.show_up {
  display: inline;
}

.hidden_down {
  display: none;
}

.country-icon {
  width: 27px;
  height: 27px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .country-icon {
    width: 25px;
    height: 25px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .country-icon {
    width: 23px;
    height: 23px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .country-icon {
    width: 22px;
    height: 22px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .country-icon {
    width: 18px;
    height: 18px;
  }
}

.select {
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 35px;
  margin-right: 10px;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 7px;
  background: #d9d9d9;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .select {
    width: 66px;
    height: 33px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .select {
    width: 60px;
    height: 31px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .select {
    width: 56px;
    height: 29px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .select {
    width: 42px;
    height: 27px;
    margin-right: 5px;
    padding-left: 3px;
  }
}
.select:hover {
  background: #cecece;
}

.down {
  font-size: 24px;
  margin-top: 1px;
  margin-left: 10px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .down {
    font-size: 21px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .down {
    font-size: 20px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .down {
    font-size: 19px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .down {
    font-size: 18px;
    margin-left: 5px;
  }
}

.up {
  font-size: 24px;
  margin-top: 3px;
  display: none;
  visibility: hidden;
}

.content-option {
  display: flex;
  justify-content: space-between;
}

.options {
  width: 72px;
  height: 80px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 7px;
  background: #d9d9d9;
  border: 1px solid #8f8f8f;
  border-radius: 10px;
  transition: all 0.4s ease;
  margin-top: 2px;
  display: none;
  overflow: auto;
}

.options::-webkit-scrollbar {
  width: 7.9px;
  border-radius: 20px;
}

.options::-webkit-scrollbar-thumb {
  background: rgba(149, 149, 149, 0.661);
  border-radius: 20px;
}

/*tooltip*/
.tooltip {
  width: 230px;
  height: 255px;
  background: #4457b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 70px;
  padding: 23px;
  padding-right: 10px;
  padding-left: 18px;
  display: none;
  right: -30px;
}

.tooltip:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 18px solid #4457b9;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  left: 72.5%;
  bottom: 255px;
}

.show_tooltip {
  display: inline;
}

.see_courses {
  display: flex;
  gap: 7px;
  transition: all 0.3s ease;
  user-select: none;
}
.see_courses:hover {
  background-color: #4f67e0;
  border-radius: 10px;
  width: 100%;
  transform: scale(1.02);
}

.subscription-img {
  width: 25px;
  height: 25px;
}

.resources {
  display: flex;
  gap: 7px;
  transition: all 0.3s ease;
  user-select: none;
}
.resources:hover {
  background-color: #4f67e0;
  border-radius: 10px;
  width: 100%;
  transform: scale(1.02);
}

.subs {
  display: flex;
  gap: 7px;
  transition: all 0.4s ease;
  user-select: none;
}
.subs:hover {
  background-color: #4f67e0;
  border-radius: 10px;
  width: 100%;
  transform: scale(1.02);
}

.customer_service {
  display: flex;
  gap: 7px;
  transition: all 0.4s ease;
  user-select: none;
}
.customer_service:hover {
  background-color: #4f67e0;
  border-radius: 10px;
  width: 100%;
  transform: scale(1.02);
}

.section_medium {
  margin-top: 28px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.section_final {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.logout {
  display: flex;
  gap: 7px;
  transition: all 0.4s ease;
  user-select: none;
}
.logout:hover {
  background-color: #4f67e0;
  border-radius: 10px;
  width: 100%;
  transform: scale(1.02);
}

.profile {
  display: flex;
  gap: 7px;
  transition: all 0.4s ease;
  user-select: none;
}
.profile:hover {
  background-color: #4f67e0;
  border-radius: 10px;
  width: 100%;
  transform: scale(1.02);
}

/*tooltip mesage*/
.user_notification {
  background: #4457b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 35px;
  width: 55px;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: relative;
  padding-bottom: 4px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .user_notification {
    height: 33px;
    width: 55px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .user_notification {
    height: 31px;
    width: 52px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .user_notification {
    height: 29px;
    width: 48px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .user_notification {
    height: 28px;
    width: 39px;
  }
}
.user_notification:hover {
  background: #4f66da;
}

.tooltip_message {
  width: 275px;
  height: 206px;
  background: #4457b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 70px;
  left: -184px;
  display: none;
  /*    overflow: auto; */
}

.tooltip_message:after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 18px solid #4457b9;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  left: 71%;
  bottom: 205px;
}

.show_notifications {
  display: inline;
}

.notifications {
  transition: all 0.5s ease;
  width: 29px;
  height: 29px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .notifications {
    width: 28px;
    height: 28px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .notifications {
    width: 26px;
    height: 26px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .notifications {
    width: 24px;
    height: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .notifications {
    width: 22px;
    height: 22px;
  }
}

.notify_content {
  overflow: auto;
  height: 196px;
  width: 98%;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.notify_content::-webkit-scrollbar {
  width: 5px;
  border-radius: 20px;
}

.notify_content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.661);
  border-radius: 20px;
  transition: all 0.7s ease;
}
.notify_content::-webkit-scrollbar-thumb:hover {
  background: rgba(246, 246, 246, 0.5);
}

.notify_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  color: #ffffff;
}

.notify_circle {
  border-radius: 50%;
  background-color: #fff;
  width: 15px;
  height: 15px;
}

.notify_section {
  display: flex;
  gap: 4px;
  align-items: center;
}

.notify_subject {
  border-bottom: 1px solid #8f8f8f;
  margin-left: 15px;
  width: 90%;
  padding-bottom: 5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
}

.notify_title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  text-align: justify;
  color: #ffffff;
}

#color1 {
  background-color: #ff0000;
}

#color2 {
  background-color: #05bd08;
}

main {
  display: flex;
}

.side_navbar {
  width: 250px;
  height: 1430px;
  background: #3E4095;
  border-radius: 0px 0px 80px 0px;
  padding-left: 10px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title_items {
  display: flex;
  color: #fff;
  gap: 8px;
}

.items {
  color: #fff;
}

li::marker {
  color: #05bd08;
  margin: 0;
  padding: 0%;
}

.items {
  margin-left: 20px;
  /*   display: none; */
}

.show_items {
  display: inline;
  margin-left: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.circle {
  border-radius: 50%;
  background-color: #fff;
  width: 5px;
  height: 5px;
}

/*----------------------sectiom-main-------------------*/
.section_main {
  /*  padding-right: 20px; */
  width: 90%;
  min-height: 50vh;
  /*   max-height: 1050px; */
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .section_main {
    /*   max-height: 1024px; */
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .section_main {
    padding-bottom: 10px;
    /*  max-height: 1024px; */
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .section_main {
    width: 100%;
    max-height: 1320px;
    min-height: 100vh;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .section_main {
    width: 100%;
  }
}

.header_information {
  margin: 12px 20px;
  display: flex;
  justify-content: space-between;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .header_information {
    margin: 13px 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .header_information {
    margin: 13px 10px;
  }
}

.person_information {
  display: flex;
  gap: 5px;
}

.name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .name {
    font-size: 21px;
    line-height: 28px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .name {
    font-size: 19px;
    line-height: 26px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .name {
    font-size: 17px;
    line-height: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .name {
    font-size: 14px;
    line-height: 22px;
  }
}

.rol {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  color: #000000;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .rol {
    font-size: 21px;
    line-height: 28px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .rol {
    font-size: 19px;
    line-height: 26px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .rol {
    font-size: 17px;
    line-height: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .rol {
    font-size: 12px;
    line-height: 22px;
    font-weight: bold;
    padding-bottom: 2px;
  }
}

.profile_picture-free {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .profile_picture-free {
    width: 75px;
    height: 75px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .profile_picture-free {
    width: 66px;
    height: 66px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .profile_picture-free {
    width: 60px;
    height: 60px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .profile_picture-free {
    width: 55px;
    height: 55px;
  }
}

.time {
  display: flex;
  gap: 3px;
}

.recently-img {
  width: 17px;
  height: 17px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .recently-img {
    width: 16px;
    height: 16px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .recently-img {
    width: 14px;
    height: 14px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .recently-img {
    width: 13px;
    height: 13px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .recently-img {
    width: 12px;
    height: 12px;
  }
}

.recently-text {
  font-size: 15px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .recently-text {
    font-size: 14px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .recently-text {
    font-size: 13px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .recently-text {
    font-size: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .recently-text {
    font-size: 11px;
  }
}

.import_information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: end;
}

.btn_ask {
  width: 125px;
  height: 30px;
  background: #0057FF;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .btn_ask {
    font-size: 13px;
    width: 120px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .btn_ask {
    font-size: 12px;
    width: 115px;
    height: 25px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .btn_ask {
    font-size: 12px;
    width: 115px;
    height: 25px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .btn_ask {
    font-size: 12px;
    width: 112px;
    height: 23px;
  }
}

.exclamation-icon {
  width: 16px;
  height: 16px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .exclamation-icon {
    width: 15px;
    height: 15px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .exclamation-icon {
    width: 14px;
    height: 14px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .exclamation-icon {
    width: 14px;
    height: 14px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .exclamation-icon {
    width: 13.5px;
    height: 13.5px;
  }
}

.btn_announcement {
  width: 206px;
  height: 29px;
  background: #F70000;
  border-radius: 50px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .btn_announcement {
    width: 190px;
    font-size: 14px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .btn_announcement {
    height: 25px;
    width: 170px;
    font-size: 13px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .btn_announcement {
    height: 25px;
    width: 170px;
    font-size: 13px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .btn_announcement {
    height: 23px;
    width: 150px;
    font-size: 12px;
    gap: 3px;
  }
}
.btn_announcement .circle {
  border-radius: 50%;
  background-color: #fff;
  width: 12px;
  height: 12px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .btn_announcement .circle {
    width: 11px;
    height: 11px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .btn_announcement .circle {
    width: 10px;
    height: 10px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .btn_announcement .circle {
    width: 10px;
    height: 10px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .btn_announcement .circle {
    width: 9px;
    height: 9px;
  }
}

.relevant_information {
  display: flex;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin: 15px 20px;
  gap: 15px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .relevant_information {
    padding: 20px 5px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .relevant_information {
    flex-direction: column;
    padding: 15px 5px;
    margin-top: 5px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .relevant_information {
    flex-direction: column;
    padding: 15px 5px;
    margin-top: 5px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .relevant_information {
    flex-direction: column;
    padding: 10px 5px;
    margin-top: 5px;
  }
}

.text_information p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  color: #000000;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .text_information p {
    font-size: 18px;
    line-height: 27px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .text_information p {
    font-size: 17px;
    line-height: 26px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .text_information p {
    font-size: 16px;
    line-height: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .text_information p {
    font-size: 14.5px;
    line-height: 22px;
  }
}
.text_information h1 {
  font-size: 26px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .text_information h1 {
    font-size: 24px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .text_information h1 {
    font-size: 23px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .text_information h1 {
    font-size: 21px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .text_information h1 {
    font-size: 19px;
  }
}

.cont-aside-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aside-img {
  width: 350px;
  height: 280px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .aside-img {
    width: 320px;
    height: 250px;
    margin-top: 12px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .aside-img {
    width: 330px;
    height: 220px;
    margin-top: 12px;
    margin: auto;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .aside-img {
    width: 300px;
    height: 200px;
    margin-top: 12px;
    margin: auto;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .aside-img {
    width: 280px;
    height: 180px;
    margin-top: 12px;
    margin: auto;
  }
}

.activities-tutorials {
  display: flex;
  gap: 2%;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .activities-tutorials {
    gap: 3%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .activities-tutorials {
    flex-direction: column;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .activities-tutorials {
    flex-direction: column;
  }
}

.activities {
  width: 55%;
  border-right: 1px solid #000;
  margin-top: 20px;
  margin-left: 20px;
  overflow-y: auto;
  max-height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*     justify-content: center; */
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .activities {
    width: 75%;
    /*      padding-left: 15px; */
    padding-right: 15px;
    max-height: 480px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .activities {
    width: 53%;
    height: 420px;
    padding-right: 10px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .activities {
    width: 100%;
    border-right: none;
    height: 380px;
    padding-right: 0;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .activities {
    width: 90%;
    border-right: none;
    height: 320px;
    padding-right: 0;
  }
}
.activities h1 {
  font-size: 28px;
  margin-bottom: 15px;
  width: 89%;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .activities h1 {
    font-size: 27px;
    margin-bottom: 13px;
    width: 100%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .activities h1 {
    font-size: 25px;
    margin-bottom: 13px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .activities h1 {
    font-size: 25px;
    margin-bottom: 13px;
    text-align: center;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .activities h1 {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
  }
}

.tutorials {
  width: 40%;
  margin-top: 20px;
  max-height: 530px;
  overflow-y: auto;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .tutorials {
    width: 68%;
    padding-left: 5px;
    margin-right: 3%;
    max-height: 480px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .tutorials {
    width: 50%;
    padding-left: 10px;
    height: 420px;
    margin-right: 3%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .tutorials {
    width: 100%;
    height: 380px;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .tutorials {
    width: 100%;
    height: 360px;
    border-top: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.tutorials h1 {
  margin-bottom: 15px;
  font-size: 28px;
  width: 86%;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .tutorials h1 {
    font-size: 27px;
    margin-bottom: 13px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .tutorials h1 {
    font-size: 25px;
    margin-bottom: 13px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .tutorials h1 {
    font-size: 25px;
    margin-bottom: 13px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .tutorials h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}

.tutorials::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  height: 3px;
}

.tutorials::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.7);
  border-radius: 20px;
}

.activity {
  display: flex;
  max-width: 550px;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  margin-bottom: 12px;
  position: relative;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .activity {
    font-size: 18px;
    height: 37px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .activity {
    height: 33px;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .activity {
    height: 33px;
    margin-bottom: 10px;
    width: 70%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .activity {
    height: 30px;
    margin-bottom: 10px;
    width: 80%;
  }
}
.activity img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 3%;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .activity img {
    width: 18px;
    height: 18px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .activity img {
    width: 16px;
    height: 16px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .activity img {
    width: 15px;
    height: 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .activity img {
    width: 14px;
    height: 14px;
  }
}
.activity p {
  font-size: 19px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .activity p {
    font-size: 17px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .activity p {
    font-size: 15px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .activity p {
    font-size: 14px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .activity p {
    font-size: 14px;
  }
}

#green-color {
  background: #038C33;
}

#blue-color {
  background: #0057FF;
}

#gray-color {
  background: #8F8F8F;
}

.video {
  width: 94%;
  height: 141px;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.4s;
}
.video:hover {
  background-color: #363636;
  transform: scale(1.02);
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .video {
    width: 94%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .video {
    height: 120px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .video {
    width: 70%;
    height: 130px;
  }
}
.img_video {
  width: 100%;
  border-radius: 20px;
  height: 100%;
  object-fit: cover;
}
.play {
  position: absolute;
  top: 30%;
  right: 43%;
  font-size: 50px;
  color: #fff;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .play {
    font-size: 45px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .play {
    font-size: 42px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .play {
    font-size: 45px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .play {
    font-size: 40px;
  }
}

.description_video {
  width: 100%;
  background-color: #0057FF;
  color: #fff;
  height: 20px;
  font-size: 17px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .description_video {
    font-size: 16px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .description_video {
    font-size: 14px;
  }
}
.container-incoming {
  opacity: 1;
  visibility: visible;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(143, 143, 143, 0.65);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.incoming_message {
  width: 843px;
  margin: auto;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  position: relative;
  padding-bottom: 20px;
  transition: transform 1.2s;
  transform: translateY(0%);
}
.incoming_section {
  width: 96%;
  margin: auto;
  border: 1px solid #8F8F8F;
  border-radius: 10px;
}
.close {
  font-size: 20px;
  position: absolute;
  top: 3%;
  right: 1%;
}
.incoming_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
  color: #000000;
  text-align: center;
}
.incoming_header {
  display: flex;
  gap: 5px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.user_incoming {
  color: #0057FF;
}

.p-1 {
  display: flex;
  gap: 3px;
  align-items: center;
}
.p-1 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}
.p-1 p {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.p-2 {
  display: flex;
  gap: 3px;
  align-items: center;
}
.p-2 h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
}
.p-2 p {
  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
}
.incoming_description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  text-align: justify;
  color: #000000;
  padding: 10px;
  position: relative;
  background-color: #05bd08;
  height: 140px;
}
.btn-answer {
  width: 138px;
  height: 34px;
  background: #0057FF;
  border: 1px solid #8F8F8F;
  border-radius: 10px 0px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 78%;
}
.profile-basic {
  width: 180px;
  height: 180px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .profile-basic {
    width: 180px;
    height: 180px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .profile-basic {
    width: 160px;
    height: 160px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .profile-basic {
    width: 140px;
    height: 140px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .profile-basic {
    width: 120px;
    height: 120px;
  }
}

.level {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.level p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .level p {
    font-size: 19px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .level p {
    font-size: 18px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .level p {
    font-size: 17px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .level p {
    font-size: 16px;
  }
}

.img-vip {
  width: 18px;
  height: 18px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .img-vip {
    width: 17px;
    height: 17px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .img-vip {
    width: 17px;
    height: 17px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .img-vip {
    width: 16px;
    height: 16px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .img-vip {
    width: 15px;
    height: 15px;
  }
}

.desciption-profile {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 80%;
  margin: auto;
}
.desciption-profile p {
  font-size: 16px;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .desciption-profile p {
    font-size: 15px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .desciption-profile p {
    font-size: 14px;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid #000;
  width: 80%;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .content {
    font-size: 14px;
  }
}
.content a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .content a {
    font-size: 16px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .content a {
    font-size: 15px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .content a {
    font-size: 14px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .content a {
    font-size: 14px;
  }
}

.content-item {
  padding-left: 8px;
  margin-top: 20px;
}
/*----------------------------*/
.dropdown {
  width: 255px;
  min-height: 100vh;
  max-height: 205vh;
  background: #3E4095;
  border-radius: 0px 0px 50px 0px;
  padding-left: 2px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .dropdown {
    width: 240px;
    min-height: 100vh;
    max-height: 200vh;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .dropdown {
    font-size: 14px;
    width: 230px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .dropdown {
    transform: translateX(-150%);
    transition: transform 1s;
    overflow-y: auto;
    width: 210px;
    z-index: 1000;
    position: fixed;
    opacity: 0.9;
    top: 0px;
    min-height: 104vh;
    max-height: 105vh;
    padding-bottom: 30px;
    border-radius: 0px 20px 20px 0px;
    padding-top: 20px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .dropdown {
    transform: translateX(-150%);
    transition: transform 1s;
    overflow-y: auto;
    width: 190px;
    z-index: 1000;
    position: fixed;
    opacity: 0.9;
    top: 0px;
    min-height: 105vh;
    max-height: 106vh;
    padding-bottom: 30px;
    border-radius: 0px 20px 20px 0px;
    padding-top: 20px;
  }
}

.dropdown::-webkit-scrollbar {
  width: 7.9px;
  border-radius: 20px;
  height: 5px;
}

.dropdown::-webkit-scrollbar-thumb {
  background: rgba(255, 85, 85, 0.661);
  border-radius: 20px;
}

.dropdown_list {
  list-style: none;
}

.dropdown_list:has(:checked) {
  --rows:1fr;
  --rotate: rotate(90deg);
  --bg: #4457b9;
}

.dropdown_link {
  color: #fff;
  padding: 0.5em 0.4em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 0.4s ease;
  border-radius: 15px;
  background-color: var(--bg, transparent);
  width: 98%;
  margin: auto;
  height: 33px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .dropdown_link {
    padding: 0.4em 0.4em;
    height: 30px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .dropdown_link {
    padding: 0.4em 0.4em;
    height: 28px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .dropdown_link {
    padding: 0.4em 0.4em;
    height: 27px;
    border-radius: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .dropdown_link {
    padding: 0.4em 0.4em;
    height: 26px;
  }
}
.dropdown_link:hover {
  background-color: #4457b9;
}

.dropdown_span {
  font-size: 15px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .dropdown_span {
    font-size: 14px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .dropdown_span {
    font-size: 12.5px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .dropdown_span {
    font-size: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .dropdown_span {
    font-size: 12px;
  }
}

.dropdown_link:has(:checked) {
  --rows: 1fr ;
}

.dropdown__check {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.dropdown__arrow {
  transition: 0.2s transform;
  transform: var(--rotate, 0);
  font-size: 12px;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .dropdown__arrow {
    font-size: 12px;
  }
}
.dropdown__content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.3s grid-template-rows;
}

.dropdown__sub {
  overflow: hidden;
  margin-bottom: 10px;
}
.dropdown__li {
  list-style: none;
  margin-left: auto;
  width: 89%;
  display: flex;
  gap: 6px;
  transition: all 0.3s ease-in;
}
.dropdown__li:hover {
  transform: scale(1.05);
  color: #d9d9d9;
}

.dropdown__anchor {
  padding: 0.4em 0;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .dropdown__anchor {
    font-size: 14px;
    padding-right: 3px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .dropdown__anchor {
    font-size: 13px;
    padding-right: 3px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .dropdown__anchor {
    font-size: 13px;
    padding-right: 3px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .dropdown__anchor {
    font-size: 12px;
    padding-right: 3px;
  }
}

#bars {
  color: #fff;
  font-size: 23px;
  margin-right: 3%;
  display: none;
  top: 0;
  position: absolute;
  z-index: 2000;
}
@media all and (min-width: 550px) and (max-width: 754px) {
  #bars {
    display: inline-flex;
    margin-left: 3%;
    top: 2%;
    font-size: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  #bars {
    display: inline-flex;
    margin-left: 8px;
    top: 2%;
  }
}

.move-menu {
  transform: translateX(0%);
}

.close {
  color: #fff;
  margin-top: -8px;
  margin-right: 3%;
  font-size: 18px;
  visibility: hidden;
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .close {
    visibility: visible;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .close {
    visibility: visible;
    font-size: 17x;
  }
}

.show-bars {
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 9px;
  border-radius: 20px;
  height: 3px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background: rgba(81, 64, 164, 0.7);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(81, 64, 164, 0.9);
}

.activities::-webkit-scrollbar {
  width: 7px;
  border-radius: 20px;
  height: 2px;
}

.activities::-webkit-scrollbar-thumb {
  background: rgba(216, 216, 216, 0.7);
  border-radius: 20px;
}

/*# sourceMappingURL=homepage_basic.css.map */
