<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/memberships/memberships.css">
    <title>Memberships</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Get Started Now</h1>

        <div class="container_memberships">
      <!--       <div class="membership">
                <div>
                    <div class="price">
                        <span>$99</span>
                    </div>
                    <span class="triangle"></span>
                </div>
                <div class="cont_membership">
                    <h1 class="membership_name">Basic</h1>
                    <div class="membership_description">
                        <p class="description_paragraph">Lor, doloremque necto debitis natus! Excepturi ex deserunt asperna</p>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funcioon importantes rescatar importante</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
               
                    </div>
                    <span class="membership_price">$0.50/subscribe</span>
                    <button class="membership_button">Start now!</button>
                </div>
            </div>
            <div class="membership">
                <div>
                    <div class="price">
                        <span>$199</span>
                    </div>
                    <span class="triangle"></span>
                </div>
                <div class="memebership"></div>
                <div class="cont_membership">
                    <h1 class="membership_name">Pro</h1>
                    <div class="membership_description">
                        <p class="description_paragraph">Lorem ipsum dolor sit m saepe culpa, sequi alias aperiam architecto debitis natus! Excepturi ex deserunt asperna</p>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                    </div>
                    <span class="membership_price">$0.50/subscribe</span>
                    <button class="membership_button">Start now!</button>
                </div>
            </div>
           
            <div class="membership">
                <div>
                    <div class="price">
                        <span>$990</span>
                    </div>
                    <span class="triangle"></span>
                </div>
                <div class="cont_membership">
                    <h1 class="membership_name">Pro +</h1>
                    <div class="membership_description">
                        <p class="description_paragraph">Lo, doloremque nemo praqui alias aperiam architecto debitis natus! Excepturi ex deserunt asperna</p>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-times-circle failure"></i>
                            <p>contiene extra funciones</p>
                        </div>
                    </div>
                    <span class="membership_price">$0.50/subscribe</span>
                    <button class="membership_button">Start now!</button>
                </div>

            </div>
            
            <div class="membership">
                <div>
                    <div class="price">
                        <span>Free</span>
                    </div>
                    <span class="triangle"></span>
                </div>
                <div class="cont_membership">
                    <h1 class="membership_name">Free</h1>
                    <div class="membership_description">
                        <p class="description_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, doloremque nemo praesentium aliquam saepe culpa, sequi alias aperiam archia</p>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                        <div class="membership_item">
                            <i class="fas fa-check-circle success"></i>
                            <p>contiene extra funciones</p>
                        </div>
                    
                    </div>
                    <span class="membership_price">$0.50/subscribe</span>
                    <button class="membership_button">Start now!</button>
                </div>
            </div> -->

        </div>
        <img src="/src/public/charlotte-logo.png" class="logo" alt="">
    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
    <script src="/src/js/price_memberships/price_memberships.js"></script>
</body>
</html>