<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/homepage_pro/homepage_pro.css">
    <title>Pro</title>
</head>

<body>
    <main>
        <div class="navbar">
            <img src="/src/public/logo-charlotte.png" class="logo-charlotte">
            <ul class="navbar__menu">
                <li><a href="">Dashboard</a></li>
                <li><a href="">Tutorials</a></li>
                <li><a href="">Resources</a></li>
                <div class="user">
                    <i class="far fa-user-circle"></i>
                    <i class="fas fa-chevron-down open_tooltip"></i>
                    <div class="tooltip">
                        <div class="profile">
                            <i class="fas fa-user-circle"></i>
                            <p>See my profile</p>
                        </div>
                        <div class="section_medium">
                            <div class="see_courses">
                                <img src="/src/public/homepageUser/course.png" alt="">
                                <p>See all my courses</p>
                            </div>
                            <div class="resources">
                                <img src="/src/public/homepageUser/resource.png" alt="">
                                <p>Resources</p>
                            </div>
                            <div class="subs">
                                <img src="/src/public/homepageUser/subscription.png" alt="" class="subscription-img">
                                <p>My subscription</p>
                            </div>
                        </div>
                        <div class="section_final">
                            <div class="customer_service">
                                <img src="/src/public/homepageUser/customer.png" alt="">
                                <p>Customer service</p>
                            </div>
                            <div class="logout">
                                <img src="/src/public/homepageUser/logout.png" alt="">
                                <p>Log out</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user_notification">
                    <img src="/src/public/homepage_free/notification.png" class="notifications">
                    <div class="tooltip_message">
                        <div class="notify_content">
                            <div class="notify">
                                <div class="notify_section">
                                    <label class="notify_circle" id="color1"></label>
                                    <h2 class="notify_title">Notify</h2>
                                </div>
                                <p class="notify_subject">Subject: "Welcome lorem ipsum"</p>
                            </div>
                            <div class="notify">
                                <div class="notify_section">
                                    <label class="notify_circle" id="color2"></label>
                                    <h2 class="notify_title">Receive new Certify</h2>
                                </div>
                                <p class="notify_subject">Subject: "Congratulations"</p>
                            </div>
                            <div class="notify">
                                <div class="notify_section">
                                    <label class="notify_circle"></label>
                                    <h2 class="notify_title">Renew your membership</h2>
                                </div>
                                <p class="notify_subject">Subject: "Welcome lorem ipsum"</p>
                            </div>
                            <div class="notify">
                                <div class="notify_section">
                                    <label class="notify_circle"></label>
                                    <h2 class="notify_title">Lvl 1 Completed</h2>
                                </div>
                                <p class="notify_subject">Subject: "Welcome lorem ipsum"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selectbox">
                    <div class="select" id="select">
                        <div class="content-select">
                            <img src="/src/public/homepage/united_states-icon.png" class="country-icon">
                        </div>
                        <i class="fas fa-angle-down down"></i>
                    </div>
                    <div class="options" id="options">
                        <div class="option">
                            <div class="content-option">
                                <img src="/src/public/hompage/brazil-icon.png" class="country-icon" id="brasil">
                                <p class="title">PT</p>
                            </div>
                        </div>
                        <div class="option">
                            <div class="content-option">
                                <img src="/src/public/hompage/spain-icon.png" class="country-icon" id="spain">
                                <p class="title">ES</p>
                            </div>
                        </div>
                        <div class="option">
                            <div class="content-option">
                                <img src="/src/public/hompage/france-icon.png" class="country-icon" id="japan">
                                <p class="title">FR</p>
                            </div>
                        </div>
                        <div class="option">
                            <div class="content-option">
                                <img src="/src/public/hompage/united_states-icon.png" class="country-icon" id="eeuu">
                                <p class="title">EN</p>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="pais" id="inputSelect" value="">
            </ul>
        </div>
       
        <div class="section_main">
            <div class="line">
                <div class="menu_items">
                    <i class="fas fa-chevron-right" id="activitie_1"></i>
                    <p>Basic l</p>
                    
                </div>
            </div>
            <div class="main_section">
                <div class="header_information">
                    <div class="person_information">
                        <img src="/src/public/homepage_free/profile.png" alt="">
                        <div class="information">
                            <h1 class="name">Alberto Barrera</h1>
                            <p class="rol">Frontend - Developer</p>
                            <div class="time">
                                <img src="/src/public/homepage_free/recently-viewed.png" alt="">
                                <p>Recently</p>
                                <i></i>
                            </div>
                        </div>
                    </div>
                    <div class="import_information">
                        <div class="btn_ask">
                            <p>Ask for help</p>
                            <img src="/src/public/homepage_free/exclamacion.png" alt="">
    
                        </div>
                        <div class="btn_announcement">
                            <div class="circle"></div>
                            <p>Import announcement</p>
                        </div>
                    </div>
                </div>
                <div class="relevant_information">
                    <div class="text_information">
                        <h1>Relevant Information</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum perferendis maiores odio. Fugit
                            iure voluptas voluptatibus beatae, doloribus, corrupti sunt voluptatem quas sapiente fugiat
                            quisquam repellat veritatis quibusdam voluptate molestias! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Rerum perferendis maiores odio. Fugit iure voluptas voluptatibus
                            beatae, doloribus, corrupti sunt voluptatem quas sapiente fugiat quisquam repellat veritatis
                            quibusdam voluptate molestias</p>
                    </div>
                    <div class="aside-img">
                        <img src="/src/public/homepage_free/img-main.png" alt="">
                    </div>
                </div>
                <div class="activities-tutorials">
                    <div class="activities">
                        <h1>Activities</h1>
                        <div class="activity" id="blue-color">
                            <img src="/src/public/homepage_free/correct-icon.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="green-color">
                            <img src="/src/public/homepage_free/time-icon.png">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
                        <div class="activity" id="gray-color">
                            <img src="/src/public/homepage_free/lock.png" alt="">
                            <p>Exercise introduction</p>
                        </div>
    
    
    
                    </div>
                    <div class="tutorials">
                        <h1>Tutorials</h1>
                        <div class="video">
                            <iframe width="361" height="121" src="https://www.youtube.com/embed/6IwUl-4pAzc"
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="description_video">Tutorial Ipsum Dolor</div>
                        </div>
                        <div class="video">
                            <iframe width="361" height="121" src="https://www.youtube.com/embed/6IwUl-4pAzc"
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="description_video">Tutorial Ipsum Dolor</div>
                        </div>
                        <div class="video">
                            <iframe width="361" height="121" src="https://www.youtube.com/embed/6IwUl-4pAzc"
                                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <div class="description_video">Tutorial Ipsum Dolor</div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>

  <!--   <div class="container-incoming">
        <div class="incoming_message">
            <i class="fas fa-times-circle close"></i>
            <h1 class="incoming_title">Incoming Message</h1>
            <div class="incoming_section">
                <div class="incoming_header">
                    <div class="user_incoming">
                        <i class="far fa-user-circle"></i>
                    </div>
                    <div>
                        <div class="p-1">
                            <h3>Ms.</h3>
                            <p>Kari Pagac</p>
                        </div>
                        <div class="p-2">
                            <h3>Subject:</h3>
                            <p>Lorem ipsum dolor</p>
                        </div>
                    </div>
                </div>
                <div class="incoming_description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse explicabo, harum adipisci aperiam
                        officiis recusandae eum quo necessitatibus. Tempora architecto doloribus, ad suscipit obcaecati quas
                        quam officiis nulla enim saepe?</p>
                    <div class="btn-answer">
                        <p>Answer</p>
                        <img src="/src/public/homepage_free/answer-icon.png" alt="">
                    </div>
                </div>
    
    
            </div>
        </div>

    </div>
 -->

    <script src="/src/js/homepage_free/homepage_free.js"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>

</html>