@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100&display=swap");
/* @mixin min {
  @media all and (min-width: 100px) and (max-width: 280px){
    @content;
  }
} */
/* @mixin menu {
  @media  screen and (min-width: 1000px) and (max-width: 1225px) {
    @content;
  }
} */
/* @mixin menus {
    @media screen and (orientation:portrait){
    @content;
  }
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url("/src/public/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 36%;
  height: 650px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  margin-top: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container {
    width: 44%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container {
    width: 50%;
    height: 600px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container {
    width: 75%;
    height: 580px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container {
    width: 85%;
    height: 525px;
  }
}
@media screen and (max-device-width: 750px) and (min-height: 800px) and (orientation: portrait) {
  .container {
    width: 85%;
    height: 525px;
  }
}
.container h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 43px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 10px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container h1 {
    font-size: 31px;
    line-height: 38px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container h1 {
    font-size: 30px;
    line-height: 33px;
    margin-top: -30px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container h1 {
    font-size: 24px;
    margin-top: -30px;
    line-height: 28px;
    font-weight: 600;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container h1 {
    font-size: 20px;
    margin-top: -30px;
    line-height: 25px;
    font-weight: 600;
  }
}
.container h4 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container h4 {
    font-size: 15px;
    line-height: 15px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container h4 {
    font-size: 14px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container h4 {
    font-size: 15px;
    line-height: 12px;
    font-weight: 500;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container h4 {
    font-size: 12px;
    line-height: 10px;
    font-weight: 500;
  }
}

.form__group {
  margin-left: 14%;
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .form__group {
    margin-left: 10%;
  }
}

.input {
  width: 85%;
  height: 40px;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 0 43px 0 20px;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  backdrop-filter: blur(18px);
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .input {
    height: 37px;
    padding: 0 35px 0 12px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .input {
    font-size: 15px;
    width: 87%;
    height: 35px;
    padding: 0 32px 0 14px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .input {
    height: 33px;
    padding: 0 30px 0 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .input {
    width: 90%;
    height: 30px;
    font-size: 12px;
    padding: 0 30px 0 12px;
  }
}

i {
  position: relative;
  right: 40px;
  font-size: 19px;
  top: 2px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  i {
    font-size: 18px;
    right: 35px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  i {
    font-size: 16px;
    right: 33px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  i {
    font-size: 16px;
    right: 30px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  i {
    font-size: 15px;
    right: 30px;
  }
}

.form__input-error1 {
  position: absolute;
  left: 62px;
  width: 410px;
  margin-top: 10px;
  color: rgb(255, 1, 1);
  font-weight: bold;
  top: 230px;
  font-size: 14px;
  display: none;
}
.form__input-error2 {
  position: absolute;
  left: 62px;
  width: 410px;
  margin-top: 10px;
  color: rgb(255, 1, 1);
  font-weight: bold;
  top: 330px;
  font-size: 14px;
  display: none;
}
#group__user {
  margin-top: 69px;
  margin-bottom: 40px;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  #group__user {
    margin-top: 50px;
    margin-bottom: 33px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  #group__user {
    margin-top: 45px;
    margin-bottom: 26px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  #group__user {
    margin-top: 40px;
    margin-bottom: 23px;
  }
}

.form__checkbox {
  display: flex;
  justify-content: center;
  margin-top: 23px;
  color: #ECECEC;
  gap: 80px;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .form__checkbox {
    width: 90%;
    gap: 8%;
    margin-left: 5.5%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .form__checkbox {
    gap: 10%;
    width: 85%;
    margin-left: 9%;
    margin-top: 19px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .form__checkbox {
    gap: 10%;
    width: 85%;
    margin-left: 9%;
    margin-top: 17px;
  }
}

.left {
  text-align: center;
  display: flex;
  font-size: 13px;
  color: #fff;
  justify-content: flex-start;
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .left {
    font-size: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .left {
    font-size: 11px;
  }
}
.left .text-check {
  padding-left: 10px;
  transition: all 0.5s ease;
}
.left .text-check:hover {
  cursor: pointer;
  color: #dfdfdf;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .left .text-check {
    padding-left: 6px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .left .text-check {
    padding-left: 3px;
  }
}

.right {
  text-align: center;
  font-size: 13px;
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .right {
    font-size: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .right {
    font-size: 11px;
  }
}

.forgot {
  transition: all 0.5s ease;
}
.forgot:hover {
  cursor: pointer;
  color: #cccccc;
}
.checkbox {
  width: 17px;
  height: 17px;
  opacity: 0.3;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .checkbox {
    width: 15px;
    height: 15px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .checkbox {
    width: 14px;
    height: 14px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .checkbox {
    width: 14px;
    height: 14px;
  }
}

.btn-login {
  width: 75%;
  height: 40px;
  background: #0057FF;
  border-radius: 15px;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 13%;
  margin-top: 35px;
  transition: all 0.4s ease;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .btn-login {
    font-size: 17px;
    height: 37px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .btn-login {
    font-size: 16px;
    height: 35px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .btn-login {
    height: 33px;
    font-size: 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .btn-login {
    width: 75%;
    height: 30px;
    font-size: 14px;
    margin-top: 40px;
  }
}
.btn-login:hover {
  background-color: #4080ff;
}

.btn-login-forgot {
  width: 75%;
  height: 40px;
  background: #0057FF;
  border-radius: 15px;
  border: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
  margin-left: 13%;
  margin-top: 30px;
  transition: all 0.4s ease;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .btn-login-forgot {
    font-size: 17px;
    height: 37px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .btn-login-forgot {
    font-size: 16px;
    height: 35px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .btn-login-forgot {
    height: 33px;
    font-size: 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .btn-login-forgot {
    width: 75%;
    height: 30px;
    font-size: 14px;
    margin-top: 40px;
  }
}
.btn-login-forgot:hover {
  background-color: #4080ff;
}

.buttons {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  width: 410px;
  margin-left: 60px;
}
.init-btn {
  width: 130px;
  height: 56px;
  background-color: #fff;
  border: 0;
  border-radius: 10px;
}
.go-signup {
  display: flex;
  width: 90%;
  margin-left: 25px;
  margin-top: 80px;
  justify-content: center;
  font-weight: bold;
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .go-signup {
    margin-left: 5%;
  }
}

.haveAccount {
  color: #fff;
  font-size: 13px;
  font-size: "Montserrat";
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .haveAccount {
    font-size: 12px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .haveAccount {
    font-size: 11px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .haveAccount {
    font-size: 10px;
  }
}

.sign-up {
  color: #4d88ff;
  font-weight: bold;
  padding-left: 10px;
  font-size: "Montserrat";
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .sign-up {
    font-size: 12px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .sign-up {
    font-size: 11px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .sign-up {
    font-size: 10px;
  }
}

.logous {
  position: absolute;
  left: 2%;
  top: 30px;
  width: 180px;
  height: 90px;
  background: url("/src/public/charlotte-logo.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .logous {
    width: 17%;
    height: 100px;
    left: 3%;
    top: 20px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .logous {
    width: 140px;
    height: 60px;
    top: 7px;
    left: 5%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .logous {
    width: 120px;
    height: 53px;
    top: 7px;
    left: 6%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .logous {
    width: 100px;
    height: 35px;
    top: 20px;
    left: 35%;
  }
}
@media screen and (max-device-width: 750px) and (min-height: 800px) and (orientation: portrait) {
  .logous {
    width: 150px;
    height: 60px;
    display: block;
    left: 34%;
    top: 3%;
    opacity: 1;
  }
}
@media screen and (min-device-width: 751px) and (min-height: 800px) and (orientation: portrait) {
  .logous {
    left: 39%;
    width: 200px;
    height: 88px;
    top: 5%;
  }
}

.buttom-signup {
  position: absolute;
  width: 12%;
  height: 45px;
  right: 30px;
  top: 40px;
  background: #0057FF;
  border-radius: 10px;
  border: 0;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  transition: all 0.4s ease;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .buttom-signup {
    width: 13%;
    height: 47px;
    font-size: 19px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .buttom-signup {
    width: 14%;
    height: 40px;
    font-size: 15px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .buttom-signup {
    display: none;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .buttom-signup {
    /* width: 22%;
    height: 30px;
    font-size: 13px;
    top: 20px; */
    display: none;
  }
}
.buttom-signup:hover {
  background-color: #4080ff;
}

.buttons-signup {
  display: flex;
}

.change-forgot-password {
  display: none;
}

/*--------------------------------------------------------------------------------------------*/
.container-forgot-password {
  width: 40%;
  height: 390px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(18px);
  border-radius: 20px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container-forgot-password {
    width: 44%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container-forgot-password {
    width: 50%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container-forgot-password {
    width: 75%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container-forgot-password {
    width: 85%;
    height: 330px;
  }
}
@media screen and (max-device-width: 750px) and (min-height: 800px) and (orientation: portrait) {
  .container-forgot-password {
    height: 350px;
  }
}
.container-forgot-password h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 43px;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  margin-top: 15px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container-forgot-password h1 {
    font-size: 28px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container-forgot-password h1 {
    font-size: 26px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container-forgot-password h1 {
    font-size: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container-forgot-password h1 {
    font-size: 20px;
    font-weight: 600;
  }
}
.container-forgot-password .cancel-forgot-pass {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 2%;
  margin-left: 2%;
}
.container-forgot-password .cancel-forgot-pass .cancel-back {
  font-size: 18px;
  color: #0057FF;
  font-weight: 700;
  padding-top: 6px;
  transition: all 0.4s ease;
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container-forgot-password .cancel-forgot-pass .cancel-back {
    font-size: 17px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container-forgot-password .cancel-forgot-pass .cancel-back {
    font-size: 16px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container-forgot-password .cancel-forgot-pass .cancel-back {
    font-size: 15px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container-forgot-password .cancel-forgot-pass .cancel-back {
    font-size: 14px;
    padding-top: 2px;
  }
}
.container-forgot-password .cancel-forgot-pass .cancel-back:hover {
  color: #4080ff;
}
.container-forgot-password .cancel-forgot-pass .cancel-left {
  position: relative;
  left: 2px;
  font-size: 30px;
  color: #0057FF;
  transition: all 0.4s ease;
  cursor: pointer;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .container-forgot-password .cancel-forgot-pass .cancel-left {
    font-size: 28px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .container-forgot-password .cancel-forgot-pass .cancel-left {
    font-size: 26px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .container-forgot-password .cancel-forgot-pass .cancel-left {
    font-size: 24px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .container-forgot-password .cancel-forgot-pass .cancel-left {
    font-size: 22px;
  }
}
.container-forgot-password .cancel-forgot-pass .cancel-left:hover {
  color: #4080ff;
}

.logous-p {
  position: absolute;
  left: -600px;
  top: -270px;
  width: 257.98px;
  height: 112px;
  background: url("/src/public/logo-charlotte.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#group__id {
  margin-top: 19px;
  margin-bottom: 40px;
}

.created-user {
  position: relative;
  top: 50px;
  text-align: center;
  width: 1000px;
  margin: auto;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  display: none;
}
.created-user i {
  margin-left: 50px;
  font-size: 30px;
  margin-bottom: -20px;
}

.form__bottoms {
  /*  background-color: rgb(27, 195, 246); */
  width: 78%;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: -40px;
  margin-top: 40px;
  margin-left: 11%;
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .form__bottoms {
    width: 85%;
    margin-left: 8%;
  }
}
.form__bottoms .btn {
  width: 30%;
  height: 40px;
  background-color: #b0b0b0;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  align-items: center;
  display: flex;
  padding-left: 40px;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .form__bottoms .btn {
    height: 37px;
    padding-left: 10%;
    font-size: 11px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .form__bottoms .btn {
    height: 33px;
    font-size: 11px;
    padding-left: 11%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .form__bottoms .btn {
    height: 30px;
    font-size: 10.5px;
    padding-left: 10%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .form__bottoms .btn {
    height: 26px;
    width: 30%;
    font-size: 8.5px;
    padding-left: 10%;
  }
}
.form__bottoms .btn:hover {
  background-color: #e6e4e4;
}
.form__bottoms .select-login {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: 5px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .form__bottoms .select-login {
    width: 24px;
    height: 24px;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .form__bottoms .select-login {
    width: 22px;
    height: 22px;
    left: 2%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .form__bottoms .select-login {
    width: 20px;
    height: 20px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .form__bottoms .select-login {
    width: 18px;
    height: 18px;
    left: 3%;
  }
}

#login-microsoft {
  background: url("/src/public/login/login-microsoft.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#login-google {
  background: url("/src/public/login/login-google.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#login-facebook {
  background: url("/src/public/login/login-facebook.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 3px;
  background-color: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  /*   background: rgba(255, 255, 255, 0.2); */
  border-radius: 20px;
  background-color: #7c7c7c;
}

.login-with {
  margin-top: 30px;
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .login-with {
    margin-top: 30px;
  }
}

.lines {
  display: flex;
  gap: 4px;
  justify-content: center;
  margin-top: 19px;
  position: relative;
  width: 75%;
  margin: auto;
}
.line-one {
  width: 150px;
  border-bottom: 1px solid #c2c2c2;
  position: absolute;
  top: 10px;
  left: 5%;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .line-one {
    width: 39%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .line-one {
    width: 39%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .line-one {
    width: 40%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .line-one {
    width: 38%;
  }
}

.line-two {
  width: 150px;
  border-bottom: 1px solid #c2c2c2;
  position: absolute;
  right: 5%;
  top: 10px;
}
@media screen and (min-width: 975px) and (max-width: 1250px) {
  .line-two {
    width: 39%;
  }
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .line-two {
    width: 39%;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .line-two {
    width: 40%;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .line-two {
    width: 38%;
  }
}

.text-or {
  color: #e1e1e1;
  font-size: 14px;
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .text-or {
    font-size: 13px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .text-or {
    font-size: 12px;
  }
}

.login-with_text {
  color: #e1e1e1;
  text-align: center;
  font-size: 14px;
}
@media all and (min-width: 755px) and (max-width: 974px) {
  .login-with_text {
    font-size: 13px;
  }
}
@media all and (min-width: 550px) and (max-width: 754px) {
  .login-with_text {
    font-size: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 549px) {
  .login-with_text {
    font-size: 11px;
  }
}

/*# sourceMappingURL=signin.css.map */
