<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/login/style-login.css">
    <title>Forgot</title>

</head>

<body>
    <div class="login-box">
        <form class="container-forgot-password">
            <div class="cancel-forgot-pass">
                <i class="fas fa-chevron-left cancel-left"></i>
                <a href="">Cancel</a>
            </div>
            <h1>Forgot Password?</h1>

            <div class="form__group" id="group__id">
                <input type="text" placeholder="ID Document" class="input">
                <i class="icon-user fas fa-user"></i>
            </div>
            <!-- <p class="form__input-error1">El usuario tiene que ser de 4 a 16 dígitos</p> -->

            <div class="form__group" id="group__password">
                <input type="password" placeholder="email" class="input">
                <i class="icon-pass far fa-envelope"></i>
            </div>
            <!--  <p class="form__input-error2">La contraseña tiene que ser de 4 a 12 dígitos.</p> -->

            <input type="submit" value="RESET PASSWORD" class="btn-login">
            <div class="logous-p"></div>

        </form>

    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous">
    </script>
</body>

</html>