<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/login/signup.css">
    <title>Sign Up</title>
</head>

<body class="body">
    <div class="charlotte-log"></div>
    <form class="form">
        <input type="hidden" name="id">
        <h2 class="form__title">Create Account</h2>
        <div class="form__container">
            <div class="form__bottoms">
                <div class="btn">
                    <div class=""> Microsoft</div>
                    <label class="select-login" id="login-microsoft"></label>
                </div>
                <div class="btn">
                    <div class="">Google</div>
                    <label class="select-login" id="login-google"></label>
                </div>
                <div class="btn">
                    <div class="">Facebook</div>
                    <label class="select-login" id="login-facebook"></label>
                </div>
            </div>
            <p class="or">OR</p>
            <div class="form__group" id="group__firstName">
                <input type="text" id="first-name" class="form__input" placeholder=" " name="firstName" required>
                <label for="first-name" class="form__label">First Name</label>
                <span class="form__line"></span>
                <p class="form__input-error"> <b>* Required field</b>: only letters are accepted, maximum length 40
                </p>
            </div>

            <div class="form__group" id="group__lastName">
                <input type="text" id="last-name" class="form__input" placeholder=" " name="lastName" required>
                <label for="last-name" class="form__label">Last Name</label>
                <span class="form__line"></span>
                <p class="form__input-error"><b>* Required field</b>: only letters are accepted, maximum length 40
                </p>
            </div>

            <div class="form__group" id="group__email">
                <input type="text" id="email-address" class="form__input" placeholder=" " name="email" required>
                <label for="email-address" class="form__label">Email Address</label>
                <span class="form__line"></span>
                <p class="form__input-error">Invalid email</p>
                <p class="email__already">email already exist</p>
            </div>

            <div class="form__group">
                <input type="text" id="date-birth" class="form__input" placeholder=" " name="dateBirth" min="1930-01-01"
                    required>
                <label for="date-birth" class="form__label">Date of Birth</label>
                <span class="form__line"></span>
                <p class="form__input-error">no se adminten numeros</p>
            </div>

            <div class="form__group  gender">
                <input type="text" class="form__input genderone" placeholder=" " id="gender">
                <label for="gender" class="form__label">Gender</label>
                <span class="form__line"></span>
            </div>
            <div class="form__group notGender gender2">
                <select class="form__input" id="gender" placeholder=" " required>
                    <option selected disabled=""></option>
                    <option>Male</option>
                    <option>Famale</option>
                    <option>Unspecified</option>
                </select>
                <label for="gender" class="form__label">Gender</label>
                <span class="form__line"></span>
            </div>
            <div class="user__pass">
                <div class="form__group" id="group__userName">
                    <input type="text" id="username-signup" class="form__input" placeholder=" " name="userName"
                        disabled>
                    <label for="username-signup" class="form__label">Username</label>
                    <i class="icon-user fas fa-user" id="icon"></i>
                    <span class="form__line"></span>
                    <p class="form__input-error">press this field before submitting the form to validate the user</p>
                </div>
                <div class="form__group" id="group__password">
                    <input type="password" id="password-signup" class="form__input" placeholder=" " name="password"
                        required>
                    <label for="password-signup" class="form__label">Password</label>
                    <i class="icon-pass fas fa-eye-slash" id="icon"></i>
                    <span class="form__line"></span>
                    <p class="form__input-error passUser">6 to 16 characters required, 1 uppercase letter, 1 lowercase letter and special characters</p>
                </div>

            </div>
            <p class="form__paragraph">ALREADY HAVE AN ACCOUNT? <a href="login.html" class="form__link-signup">LOGIN</a>
            </p>
            <input class="buttom-signup" type="submit" value="Sign up">
        </div>
        <div class="form__message-exit">
            <p id="form__message-exit">Data sent successfully <i class="fas fa-check-circle"></i></p>

        </div>
        <div class="form__message-error">
            <p id="form__message-error"><i class="fas fa-exclamation-circle"></i> <b>Error:</b> Please fill the form
                correctly</p>
        </div>
    </form>
    <script src="/src/js/signup/signup.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>

</html>