<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/homepage/homepage.css">
    <title>Document</title>

</head>

<body>
    <div class="container__spa">
        <div class="redes"></div>
        <div class="menu"></div>
        <div class="banner"></div>
        <div class="section">
            <div class="notione">
                <div class="image"></div>
                <div class="text">
                    <h1>Lorem</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias enim commodi unde autem! Quam
                        praesentium corrupti soluta itaque illum aut, eius eum blanditiis voluptates voluptate in odio
                        odit, commodi error.</p>
                </div>
            </div>
            <div class="notitwo">
                <div class="text2">
                    <h1>Learn fast with live private and group classes</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias enim commodi unde autem! Quam
                        praesentium corrupti soluta itaque illum aut, eius eum blanditiis voluptates voluptate in odio
                        odit, commodi error.</p>

                    <p class="learn">Learn More about how it works</p>
                </div>
                <div class="image2"></div>
            </div>

            <div class="noti3">
                <p class="title">Why is our coursediferent?</p>
                <div class="cont__image">
                    <div class="container__image">
                        <div class="image"></div>
                        <p class="image__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
                            quaerat
                            architecto pariatur dolorum dolores veniam praesentium ipsam sed. Et commodi qui ratione
                            dicta
                            corrupti obcaecati explicabo perspiciatis quos porro repudiandae.</p>
                    </div>
                    <div class="container__image">
                        <div class="image"></div>
                        <p class="image__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
                            aperiam,
                            fugit labore alias rem cum itaque. Quae quod delectus qui totam earum perferendis dolorem,
                            est
                            mollitia odit deserunt ipsum modi!</p>
                    </div>
                    <div class="container__image">
                        <div class="image"></div>
                        <p class="image__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum distinctio
                            repellendus, veritatis nemo, nesciunt perspiciatis ipsam in eveniet iure magni maxime
                            expedita.
                            Corrupti odio recusandae nostrum tempora vel assumenda officiis.</p>
                    </div>

                </div>


            </div>
            <div class="noti4">
                <div class="container">
                    <div class="img" id="img1"></div>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis libero
                        similique vel quibusdam, omnis tempora illo distinctio accusamus eveniet obcaecati? Sunt
                        expedita architecto iste amet corrupti doloribus nemo nam aperiam.</p>
                </div>
                <div class="container">
                    <div class="img" id="img2"></div>
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus architecto modi
                        rem sunt quidem ad suscipit nisi eveniet totam. Harum facilis ad deleniti ea exercitationem
                        pariatur, iure nostrum eveniet aliquam?</p>

                </div>
                <div class="container">
                    <div class="img" id="img3"></div>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero optio nostrum illo
                        nesciunt, repellendus at odio suscipit reiciendis. Praesentium voluptatem quas facere cumque eum
                        mollitia delectus, explicabo aut fugiat dolorum.</p>

                </div>
            </div>
        </div>
        <div class="footer">

        </div>

    </div>
</body>

</html>