<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/homepage_user/homepage_user.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <img src="/src/public/logo-charlotte.png" class="logo">
            <ul class="navbar__menu">
                <li><a href="">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <div class="user">
                    <i class="far fa-user-circle"></i>
                   <p>Alberto B.</p>
                   <i class="fas fa-chevron-down open_tooltip"></i>
                   <div class="tooltip">
                       <div class="profile">
                        <i class="fas fa-user-circle"></i>
                        <p>See my profile</p>
                       </div>
                       <div class="section_medium">
                           <div class="see_courses">
                             <img src="/src/public/homepageUser/course.png" alt="">
                             <p>See all my courses</p>
                           </div>
                           <div class="resources">
                             <img src="/src/public/homepageUser/resource.png" alt="">
                             <p>Resources</p>
                           </div>
                           <div class="subs">
                             <img src="/src/public/homepageUser/subscription.png" alt="" class="subscription-img">
                             <p>My subscription</p>
                           </div>
                        </div>
                        <div class="section_final">
                            <div class="customer_service">
                              <img src="/src/public/homepageUser/customer.png" alt="">
                              <p>Customer service</p>
                            </div>
                          <div class="logout">
                            <img src="/src/public/homepageUser/logout.png" alt="">
                            <p>Log out</p>
                          </div>
                        </div>
                   </div>
                </div>
                <div class="user_notification">
                    <img src="/src/public/homepageUser/campana.png" class="notifications">
                    <div class="tooltip_message">
                        <div class="notify_content">
                            <div class="notify">
                              <div class="notify_section">
                                  <label class="notify_circle" id="color1"></label>
                                  <h2 class="notify_title">Notify</h2>
                              </div>
                              <p class="notify_subject">Subject: "Welcome lorem ipsum"</p>
                            </div>
                            <div class="notify">
                              <div class="notify_section">
                                  <label class="notify_circle" id="color2"></label>
                                  <h2 class="notify_title">Receive new Certify</h2>
                              </div>
                              <p class="notify_subject">Subject: "Congratulations"</p>
                            </div>
                            <div class="notify">
                              <div class="notify_section">
                                  <label class="notify_circle"></label>
                                  <h2 class="notify_title">Renew your membership</h2>
                              </div>
                              <p class="notify_subject">Subject: "Welcome lorem ipsum"</p>
                            </div>
                            <div class="notify">
                              <div class="notify_section">
                                  <label class="notify_circle"></label>
                                  <h2 class="notify_title">Lvl 1 Completed</h2>
                              </div>
                              <p class="notify_subject">Subject: "Welcome lorem ipsum"</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selectbox">
                    <div class="select" id="select">
                        <div class="content-select">
                            <img src="/src/public/homepage/united_states-icon.png" class="country-icon">
                        </div>
                        <i class="fas fa-angle-down down"></i>
                    </div>
            <div class="options" id="options">
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/brazil-icon.png" class="country-icon" id="brasil">
                        <p class="title">PT</p>
                    </div>
                </div>
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/spain-icon.png" class="country-icon" id="spain">
                        <p class="title">ES</p>
                    </div>
                </div>
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/france-icon.png" class="country-icon" id="japan">
                        <p class="title">FR</p>
                    </div>
                </div>
                <div class="option">
                    <div class="content-option">
                        <img src="/src/public/hompage/united_states-icon.png" class="country-icon" id="eeuu">
                        <p class="title">EN</p>
                    </div>
                </div>
            </div>
                 </div>
                <input type="hidden" name="pais"id="inputSelect" value="">
            </ul>
    </div>
    <div class="slider">
        <div class="slider-slides">
            <div class="slider-slide active">
                <img class="img1">
            </div>
            <div class="slider-slide">
                <img class="img2">
            </div>
            <div class="slider-slide">
                <img class="img3">
            </div>
            <div class="slider-slide">
                <img class="img4">
            </div>
            <div class="slider-slide">
                <img class="img5">
            </div>
        </div>
        <div class="slider-btns">
            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
        </div>
    </div>


    <div class="content-podcast">
        <div class="podcast_text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque adipisci dignissimos id aut eligendi animi rem ipsam explicabo, non tempore, in harum eveniet atque vel delectus a repellendus consequuntur autem,
                Itaque adipisci dignissimos id aut eligendi animi rem ipsam explicabo, non tempore, in harum eveniet atque vel delectus a repellendus consequuntur
            </p>
            <div class="audio-podcast">
                <i class="fas fa-play-circle"></i>
                <p>Podcast | "The birth of a polyglot"</p>

            </div>
            ´<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestias nihil corrupti amet commodi aperiam, aspernatur beatae quasi magnam asperiores dicta magni earum suscipit facilis perspiciatis molestiae, natus numquam sapiente,
                Itaque adipisci dignissimos id aut eligendi animi rem ipsam explicabo, non tempore, in harum eveniet atque vel delectus a repellendus consequuntur
            </p>
        </div>
        <div class="podcast_img">
            <img src="/src/public/homepageUser/podcast.png" class="">

        </div>
        .
    </div>
    </div>
    <script src="/src/js/homepage_user/pd.js"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"> </script>
</body>
</html>